<template>
    <template if:false={isCancelledWindow}>
        <div class="container">
            <div class="site-header">
                <div class="slds-grid slds-wrap">
                    <div class="icon">
                        <lightning-icon class="icon-center" icon-name="utility:user" alternative-text="Connected"
                            size="large" title="large size">
                        </lightning-icon>
                    </div>
                    <div class="detail">
                        <div class="site-name">{contactName}</div>
                        <div class="address">{streetAddress}</div>
                        <div class="address">{address}</div>
                    </div>
                    <div class="controls vertical-xs">
                        <lightning-button label="Edit Profile" title="Non-primary action" onclick={editProfile}
                            class="small time-input"></lightning-button>
                    </div>
                </div>
            </div>
            <div class="slds-grid slds-wrap">
                <template if:true={appointment}>
                    <div class="site-header slds-col " if:true={appointment.isToBeScheduled}>
                        <div class="icon icon-yellow">
                            <lightning-icon class="icon-center" icon-name="utility:package" alternative-text="Connected"
                                size="large" variant="inverse" title="large size">
                            </lightning-icon>
                        </div>
                        <div class="detail">
                            <div class="site-name">Submission ({appointment.siteName})</div>
                            <div class="address">Preferred Appointment Time: <strong>{appointment.startDate}
                                    {appointment.startTime}</strong></div>
                            <div class="address">Location: <strong class="adr-link">{appointment.address}</strong></div>
                        </div>
                        <div class="controls vertical-xs">
                            <!--    <template if:false={isAutoSchedule}> -->
                                <lightning-button label="Modify" title="Non-primary action" onclick={editAppointment}
                                    class="small time-input"></lightning-button>
                                <lightning-button label="Cancel" title="Non-primary action" onclick={cancelAppointment}
                                    class="small time-input"></lightning-button>
                               <!--  </template> -->
                        </div>

                    </div>
                    <div class="site-header slds-col" if:true={appointment.isScheduled}>
                        <div class="icon icon-green">
                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                alternative-text="Connected" size="large" variant="inverse" title="large size">
                            </lightning-icon>
                        </div>
                        <div class="detail scheduled">
                            <div class="site-name">Scheduled ({appointment.siteName})</div>
                            <div class="address">Appointment Time: <strong>{appointment.startDate}
                                    {appointment.startTime}</strong></div>
                            <div class="address">Location: <strong class="adr-link">{appointment.address}</strong></div>
                        </div>
                        <div class="controls vertical-xs">
                        <!--    <template if:false={isAutoSchedule}> -->
                                <lightning-button label="View on Map" variant="brand" title="View on Map" onclick={viewLocationOnMap}
                                    class="small time-input"></lightning-button>
                                <lightning-button label="Re-Schedule" title="Re-Schedule" onclick={editAppointment}
                                    class="small time-input"></lightning-button>
                                <lightning-button label="Cancel" title="Cancel" onclick={cancelAppointment}
                                    class="small time-input"></lightning-button>
                          <!--  </template> -->
                        </div>

                    </div>
                    <div class="site-header slds-col  " if:true={appointment.isCompleted}>
                        <div class="icon icon-green">
                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                alternative-text="Connected" size="large" variant="inverse" title="large size">
                            </lightning-icon>
                        </div>
                        <div class="detail">
                            <div class="site-name">Completed ({appointment.siteName})</div>
                            <div class="address">Lab Name: <strong>{appointment.labName}</strong></div>
                            <div class="address">Completed Date : <strong>
                                    <lightning-formatted-date-time value={results.CreatedDate} year="numeric"
                                        month="numeric" day="numeric" hour="2-digit" minute="2-digit" hour12="false">
                                    </lightning-formatted-date-time>
                                </strong></div>
                            <div class="address"> Result Status: <strong class="adr-link">Pending</strong></div>
                        </div>
                    </div>

                    <div class="site-header slds-col " if:true={hasResults}>
                        <div class="icon icon-green">
                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                alternative-text="Connected" size="large" variant="inverse" title="large size">
                            </lightning-icon>
                        </div>
                        <div class="detail">
                            <div class="site-name">Test Result Available</div>
                            <div class="address">Lab Name: <strong>{appointment.labName}</strong></div>
                            <div class="address">Sample Type: <strong>{results.Source_of_Specimen__c}</strong></div>
                            <div class="address">Result Status: <strong class="adr-link">{results.Results__c}</strong></div>

                        </div>
                        <div class="controls">

                        </div>
                    </div>
                    <div class="site-header slds-col" if:true={appointment.isCancelled}>
                        <div class="icon icon-green">
                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                alternative-text="Connected" size="large" variant="inverse" title="large size">
                            </lightning-icon>
                        </div>
                        <div class="detail">
                            <div class="site-name">Cancelled ({appointment.siteName})</div>
                            <div class="address">Appointment Time: <strong>
                                    <lightning-formatted-date-time value={appointment.startDate}>
                                    </lightning-formatted-date-time>
                                    &nbsp; {appointment.startTime}
                                </strong></div>
                            <div class="address">Location: <strong class="adr-link">{appointment.address}</strong></div>
                        </div>
                        <div class="controls">
                            <lightning-button label="Reschedule" title="Non-primary action" onclick={editAppointment}
                                class="slds-m-left_x-small small time-input"></lightning-button>
                            <!-- <lightning-button label="Re-Schedule" title="Re-Schedule" onclick={editAppointment}
                    class="slds-m-left_x-small small time-input"></lightning-button> -->
                            <!--    <lightning-button label="Reschedule" title="Reschedule" onclick={openCancel}
                                class="slds-m-left_x-small small time-input"></lightning-button> -->
                        </div>

                    </div>
                    <div class="site-header slds-col " if:true={hasResults}>
                        <div>
                            <p class="address">
                                <strong> Antibody testing uses a blood sample to look
                                    for proteins in your blood that help fight infection.
                                    These proteins, or antibodies, are produced by your body during and after an
                                    infection.
                                    Testing your blood for antibodies can determine if you have had COVID-19 at some
                                    time in the past.
                                    <b>Antibody testing should not be used to determine if you currently have
                                        COVID-19</b>.</strong>
                            </p> <br />

                        </div>
                    </div>
                    <template if:true={showConfirmation}>
                        <c-oktccompleteconfirmation type="cancel" appointment-id={appointment.id} onclose={hideModal} is-bulk={isBulk}>
                        </c-oktccompleteconfirmation>
                    </template>
                    <template if:true={showAppointmentModal}>
                        <c-okpceditappointment appointment-id={appointment.id} site-id={appointment.siteId}
                             onclose={hideModal}></c-okpceditappointment>
                    </template>
                    <template if:true={showMap}>
                        <c-okpc-open-map map-markers={mapMarkers} onclosesingle={hideModal}></c-okpc-open-map>
                    </template>
                </template>
                <template if:false={hasResults}>
                    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-3">
                        <div class="base-db-card">
                            <div class="content-section">
                                <span class="content-section--db-label">NEWS</span>
                                <div class="content-section--cs-card">
                                    <p class="content-section--db-heading">Oklahoma’s Health Response to COVID-19</p>
                                    <p class="content-section--db-subheading">COVID-19 is a virus identified as the
                                        cause of
                                        an outbreak of respiratory illness first detected in Wuhan City, Hubei Province,
                                        China in 2019 and has since spread globally into a pandemic.</p>
                                    <div class="slds-p-top_large">
                                        <a href="https://coronavirus.health.ok.gov/" class="content-section--db-link"
                                        target="_blank">Read more
                                        &rarr;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                        <div class="base-db-card">
                            <div class="content-section">
                                <span class="content-section--db-label">Important Links</span>
                                <div class="content-section--cs-card">
                                    <a href="https://govstatus.egov.com/oklahoma-coronavirus-information"
                                        class="content-section--im-link" target="_blank">Oklahoma COVID-19 Resources
                                        &rarr;</a>
                                </div>
                                <div class="content-section--cs-card">
                                    <a href="https://www.cdc.gov/coronavirus/2019-ncov/lab/serology-testing.html"
                                        class="content-section--im-link" target="_blank">Serology Testing for COVID-19
                                        &rarr;</a>
                                </div>
                                <div class="content-section--cs-card">
                                    <a href="http://coronavirus.health.ok.gov/" class="content-section--im-link"
                                        target="_blank">Oklahoma Coronavirus Statistics &rarr;</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <template if:true={isCancelledWindow}>
        <div class="cancelClass" style="display: block">
            <div class="page-header">
                <h1 class="page-title">Appointment Scheduling</h1>
                <c-okpc-help-text
                    help-text="Please see your details and edit them, in case you want to change your preferred slot.">
                </c-okpc-help-text>
            </div>

            <!-- <c-okpc-appointment-preference></c-okpc-appointment-preference> -->
            <c-ok-vital-preference-component onsubmit={handleSubmitData} current-step={currentStep} testing-type={testingType}
                istesting={istestingsite}></c-ok-vital-preference-component>
            <div class="controls slds-m-top_medium">
                <!--   <lightning-button variant="neutral" type="submit" label="Back"
                class="slds-m-right_xx-small" onclick={navigateToPersonalInfo}>
            </lightning-button> -->
                <!--  <lightning-button variant="brand" type="submit" label="Submit" name="submit"
                onclick={handleSubmit}>
            </lightning-button> -->
            </div>
        </div>
    </template>

</template>