:host {
    padding: 2rem 1rem;
    display: block;
}

.site-header {
    padding: 2rem;
    background: white;
    z-index : auto;
    margin: 1rem 1rem 0;
    box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
    position: relative;
}

@media (min-width: 768px) {
    .site-header {
        display: flex;
        text-align: left;
    }
}

.site-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.site-header .address {
    font-size: 14px;
    color: #777;
}

.site-header .icon {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 0 2px #777;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    background: #eee
}

.icon {
    position: relative;
}

.icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-yellow {
    background: #EA8C00 !important;
}

.icon-green {
    background: #54A031 !important;
}



.adr-link {
    color: #007CC6;
}
.pdf-link {
    padding-top: 21px;;
}


.color-card .content-section--cs-card,
.base-db-card .content-section--cs-card,
.color-card .content-section--im-link,
.base-db-card .content-section--im-link {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .new-apt {
        display: flex;
        justify-content: flex-end;
    }
    .controls {
        text-align: right;
        right: 2rem;
        position: absolute;
        padding: .2rem 0 0 !important;
    }
}

.cancelClass {
    padding-left: 1rem;
}

@media (max-width: 767px) {
    .scheduled {
        margin-top: 1rem
    }
    .base-db-card {
        margin: 1rem 0 !important
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .controls {
        justify-content: unset;
    }
    .controls.vertical-xs {
        flex-direction: column;
    }
    .controls.vertical-xs .slds-button {
        margin-top: 1rem;
        width: 100%;
    }

}