h4 {
    font-size: 1.5rem;
}

.button-class {
    float: right;
}

.button-container {
    border-top: 1px solid rgb(212, 212, 212);
    margin: 0 -1.5rem !important;
    padding: 1.5rem;
}