<template>
    <template if:false={isCancelledWindow}>
        <div class="container shrink-mobile">
            <section class="slds-m-bottom_small">
                <div class="new-apt">
                    <lightning-button class="slds-m-right_small" label="Add Appointments" name="scheduleAppointment"
                        variant="neutral" onclick={handleClick}></lightning-button>

                    <lightning-button class="slds-m-right_small" label="Schedule Another Person" name="addMember" variant="neutral"
                        onclick={handleClick}></lightning-button>

                </div>

            </section>

            <lightning-tabset>
                <lightning-tab label="Appointments">
                    <template if:true={showSpinner}>
                        <div class="slds-is-relative spinner-container">
                            <lightning-spinner variant="brand"></lightning-spinner>
                        </div>
                    </template>
                    <div if:false={showSpinner}>

                        <template if:true={appointmentList}>
                            <template for:each={appointmentList} for:item="appointment">
                                <div key={appointment.id}>
                                    <div class="site-header slds-col icon-container"
                                        if:true={appointment.isToBeScheduled}>
                                        <div class="icon icon-yellow">
                                            <lightning-icon class="icon-center" icon-name="utility:package"
                                                alternative-text="Connected" size="large" variant="inverse"
                                                title="large size">
                                            </lightning-icon>
                                        </div>
                                        <div class="detail">
                                            <div class="site-name">Submission ({appointment.siteName})</div>
                                            <div class="address">Preferred Appointment Time:
                                                <strong>{appointment.startDate}
                                                    {appointment.startTime}</strong></div>
                                            <div class="address">Location: <strong
                                                    class="adr-link">{appointment.address}</strong></div>
                                        </div>
                                        <div class="controls">
                                            <lightning-button label="Modify" title="Non-primary action"
                                                onclick={editAppointment} class="slds-m-left_x-small small time-input">
                                            </lightning-button>
                                            <lightning-button label="Cancel" title="Non-primary action"
                                                onclick={cancelAppointment}
                                                class="slds-m-left_x-small small time-input"></lightning-button>
                                        </div>

                                    </div>
                                    <div class="site-header slds-col icon-container" if:true={appointment.isScheduled}>
                                        <div class="icon icon-green">
                                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                                alternative-text="Connected" size="large" variant="inverse"
                                                title="large size">
                                            </lightning-icon>
                                        </div>
                                        <div class="detail scheduled">
                                            <div class="site-name">Scheduled ({appointment.siteName})</div>
                                            <div class="address">Appointment Time: <strong>{appointment.startDate}
                                                    {appointment.startTime}</strong></div>
                                            <div class="address">Location: <strong
                                                    class="adr-link">{appointment.address}</strong></div>
                                            <div class="address">Person Name: <strong
                                                    class="slds-m-left_xx-small">{appointment.patientName}</strong>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <lightning-button label="View on Map" variant="brand" title="View on Map"
                                                onclick={retrieveMarker} data-id={appointment.siteId}
                                                class="small time-input"></lightning-button>
                                            <!-- <lightning-button label="Re-Schedule" title="Re-Schedule" onclick={editAppointment}
                                class="slds-m-left_x-small small time-input"></lightning-button> -->
                                            <lightning-button label="Cancel" title="Cancel" onclick={cancelAppointment}
                                                data-id={appointment.id} class="slds-m-left_small small time-input">
                                            </lightning-button>
                                        </div>

                                    </div>
                                    <div class="site-header slds-col icon-container" if:true={appointment.isInProgress}>
                                        <div class="icon icon-green">
                                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                                alternative-text="Connected" size="large" variant="inverse"
                                                title="large size">
                                            </lightning-icon>
                                        </div>
                                        <div class="detail">
                                            <div class="site-name">In Progress ({appointment.siteName})</div>
                                            <div class="address">Appointment Time: <strong>{appointment.startDate}
                                                    {appointment.startTime}</strong></div>
                                            <div class="address">Location: <strong
                                                    class="adr-link">{appointment.address}</strong></div>
                                            <div class="address">Person Name: <strong
                                                    class="slds-m-left_xx-small">{appointment.patientName}</strong>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <lightning-button label="View on Map" title="View on Map"
                                                onclick={retrieveMarker} data-id={appointment.siteId}
                                                class="slds-m-left_x-small small time-input"></lightning-button>
                                            <!-- <lightning-button label="Re-Schedule" title="Re-Schedule" onclick={editAppointment}
                                class="slds-m-left_x-small small time-input"></lightning-button> -->
                                            <!-- <lightning-button label="Cancel" title="Cancel" onclick={cancelAppointment}
                                    data-id={appointment.id}   class="slds-m-left_x-small small time-input"></lightning-button> -->
                                        </div>

                                    </div>
                                    <div class="site-header slds-col icon-container" if:true={appointment.isCancelled}>

                                        <div class="icon icon-green">
                                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                                alternative-text="Connected" size="large" variant="inverse"
                                                title="large size">
                                            </lightning-icon>
                                        </div>

                                        <div class="detail">
                                            <div class="site-name">Cancelled ({appointment.siteName})</div>
                                            <div class="address">Appointment Time: <strong>{appointment.startDate}
                                                    &nbsp; {appointment.startTime}</strong></div>
                                            <div class="address">Location: <strong
                                                    class="adr-link">{appointment.address}</strong></div>
                                            <div class="address">Person Name: <strong
                                                    class="slds-m-left_xx-small">{appointment.patientName}</strong>
                                            </div>
                                        </div>
                                        <div class="controls">

                                            <!-- <lightning-button label="Re-Schedule" title="Re-Schedule" onclick={editAppointment}
                            class="slds-m-left_x-small small time-input"></lightning-button> -->
                                            <lightning-button label="Reschedule" title="Reschedule" onclick={openCancel}
                                                data-id={appointment.id} data-accid={appointment.siteId}
                                                class="slds-m-left_x-small small time-input"></lightning-button>
                                        </div>

                                    </div>

                                    <div class="site-header slds-col icon-container" if:true={appointment.isCompleted}>
                                        <div class="icon icon-green">
                                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                                alternative-text="Connected" size="large" variant="inverse"
                                                title="large size">
                                            </lightning-icon>
                                        </div>
                                        <div class="detail">
                                            <div class="site-name">Completed ({appointment.siteName})</div>
                                            <div class="address">Lab Name: <strong>{appointment.labName}</strong></div>
                                            <div class="address">Completed Date : <strong>
                                                    <lightning-formatted-date-time value={appointment.completedDateTime}
                                                        year="numeric" month="numeric" day="numeric" hour="2-digit"
                                                        minute="2-digit" hour12="false">
                                                    </lightning-formatted-date-time>
                                                </strong></div>
                                            <div class="address"> Result Status: <strong
                                                    class="adr-link">Pending</strong></div>
                                            <div class="address">Person Name: <strong
                                                    class="slds-m-left_xx-small">{appointment.patientName}</strong>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="site-header slds-col icon-container" if:true={appointment.hasResult}>
                                        <div class="icon icon-green">
                                            <lightning-icon class="icon-center" icon-name="utility:package_org"
                                                alternative-text="Connected" size="large" variant="inverse"
                                                title="large size">
                                            </lightning-icon>
                                        </div>
                                        <div class="detail">
                                            <div class="site-name">Test Result Available</div>
                                            <div class="address">Test Type: <strong>{appointment.testingType }</strong>
                                            </div>
                                            <div class="address">Date of Specimen Collection: <strong>
                                                    <lightning-formatted-date-time value={appointment.isInProgressDateTime}
                                                        year="numeric" month="numeric" day="numeric" hour="2-digit"
                                                        minute="2-digit" hour12="false">
                                                    </lightning-formatted-date-time>
                                                </strong></div>
                                                <div class="address">Date of Result:
                                                    <strong>
                                                        <lightning-formatted-date-time value={appointment.result.Date_of_Lab_Test_Completion__c} year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time>
                                                        </strong>
                                                </div>
                                            <div class="address">Test Results: <strong
                                                    class="adr-link">{appointment.result.Results__c}</strong></div>
                                            <template if:false={appointment.isAntibody}>
                                                <div class="address">Test Name: <strong
                                                        class="adr-link">{appointment.testName}</strong></div>
                                                <div class="address">Notes: <strong
                                                        class="adr-link">{appointment.notes}</strong></div>
                                            </template>
                                            <!-- <div class="address">Lab Name: <strong>{appointment.result.Laboratory__r.Name}</strong></div>
                                    <div class="address">Sample Type: <strong>{appointment.result.Source_of_Specimen__c}</strong></div> -->
                                            <div class="address">Person Name: <strong
                                                    class="slds-m-left_xx-small">{appointment.patientName}</strong>
                                            </div>

                                        </div>
                                        <div class="controls">
                                            <template if:true={appointment.isRapid}>
                                                <!--<lightning-button variant="base" label="EUA-Abbott-NOW-patients.pdf" title="EUA-Abbott-NOW-patients.pdf"
                                        onclick={openFile} class="slds-m-left_x-small"></lightning-button>-->
                                                <p class="pdf-link"><strong><a href={patientPDF}
                                                            target="_blank">EUA-Abbott-NOW-patients.pdf</a>
                                                    </strong> </p>

                                            </template>
                                            <!--  <lightning-button label="View Certificate" title="View Certificate"
                                                onclick={viewCertificate} class="small time-input">
                                            </lightning-button> -->

                                        </div>
                                    </div>
                                </div>
                            </template>

                        </template>

                        <div if:false={hasAppointment} class="slds-align_absolute-center">
                            No data available
                        </div>
                    </div>
                </lightning-tab>
                <lightning-tab label="Persons">
                    <template if:true={showSpinner}>
                        <div class="slds-is-relative spinner-container">
                            <lightning-spinner variant="brand"></lightning-spinner>
                        </div>
                    </template>
                    <div if:false={showSpinner}>
                        <template for:each={contactList} for:item="contact">
                            <c-okcp-Members-card key={contact.id} patient={contact}></c-okcp-Members-card>
                        </template>
                    </div>
                </lightning-tab>
            </lightning-tabset>

            <template if:true={showConfirmation}>
                <c-oktccompleteconfirmation type="cancel" appointment-id={appointmentID} onclose={hideModal}>
                </c-oktccompleteconfirmation>
            </template>
            <template if:true={showAppointmentModal}>
                <c-okpceditappointment appointment-id={appointment.id} site-id={appointment.siteId} onclose={hideModal}>
                </c-okpceditappointment>
            </template>
            <template if:true={showMap}>
                <c-okpc-open-map map-markers={mapMarkers} onclosesingle={hideModal}></c-okpc-open-map>
            </template>

            <div class="slds-grid slds-wrap slds-m-top_small slds-m-bottom_large">


                <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-3">
                    <div class="base-db-card">
                        <div class="content-section">
                            <span class="content-section--db-label">NEWS</span>
                            <div class="content-section--cs-card">
                                <p class="content-section--db-heading">Oklahoma’s Health Response to COVID-19</p>
                                <p class="content-section--db-subheading">COVID-19 is a virus identified as the
                                    cause of
                                    an outbreak of respiratory illness first detected in Wuhan City, Hubei Province,
                                    China in 2019 and has since spread globally into a pandemic.</p>
                                <div class="slds-p-top_small">
                                    <a href="https://coronavirus.health.ok.gov/" class="content-section--db-link"
                                        target="_blank">Read more
                                        &rarr;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                    <div class="base-db-card">
                        <div class="content-section">
                            <span class="content-section--db-label">Important Links</span>
                            <div class="content-section--cs-card">
                                <a href="https://govstatus.egov.com/oklahoma-coronavirus-information"
                                    class="content-section--im-link" target="_blank">Oklahoma COVID-19 Resources
                                    &rarr;</a>
                            </div>
                            <div class="content-section--cs-card">
                                <a href="https://www.cdc.gov/coronavirus/2019-ncov/lab/serology-testing.html"
                                    class="content-section--im-link" target="_blank">Serology Testing for COVID-19
                                    &rarr;</a>
                            </div>
                            <div class="content-section--cs-card">
                                <a href="http://coronavirus.health.ok.gov/" class="content-section--im-link"
                                    target="_blank">Oklahoma Coronavirus Statistics &rarr;</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </template>

    <template if:true={isCancelledWindow}>
        <div class="cancelClass" style="display: block">
            <template if:false={multipleAppt}>
                <div class="page-header">
                    <h1 class="page-title">Patient History</h1>
                <c-okpc-help-text
                        help-text="Please provide information about your history.">
                    </c-okpc-help-text> 
                </div>

            </template>

            <template if:true={multipleAppt}>

                <div class="page-header">
                    <h1 class="page-title">Appointment Scheduling</h1>
                    <c-okpc-help-text
                        help-text="Please see your details and edit them, in case you want to change your preferred slot.">
                    </c-okpc-help-text>
                </div>
            </template>
            
            <template if:false={multipleAppt}>
                <c-ok-covid-symptomspage contact-id={contactId} onsymptomssave={saveSymptoms}
                    current-step={currentStep}>
                </c-ok-covid-symptomspage>
                <lightning-button variant="neutral" type="submit" label="Cancel" class="slds-m-right_xx-small"
                    onclick={cancelAppointments}>
                </lightning-button>
                <lightning-button variant="brand" type="submit" name="next" label="Next" class="slds-m-right_xx-small"
                    onclick={navigateToScheduleAppointment}>
                </lightning-button>

            </template>
            <!-- <c-okpc-appointment-preference></c-okpc-appointment-preference> -->
            <template if:true={multipleAppt}>
                <c-okcp-preference-component multiple-appnt={multipleAppt}
                    account-id-reschedule={accountIdForReschedule} is-reschedule={isReschedule}
                    appointment-data-intake={appointmentDetails} appointment-id-dashboard={appointmentID}
                    onsubmit={handleSubmitData} current-step={currentStep} testing-type={testingType}
                    showpickfromdashboard={showpick} is-dependent={isdependent}></c-okcp-preference-component>
            </template>
            <div class="controls slds-m-top_medium">
                <!--   <lightning-button variant="neutral" type="submit" label="Back"
                class="slds-m-right_xx-small" onclick={navigateToPersonalInfo}>
            </lightning-button> -->
                <!--  <lightning-button variant="brand" type="submit" label="Submit" name="submit"
                onclick={handleSubmit}>
            </lightning-button> -->
            </div>
        </div>
    </template>
    <template if:true={showMemberConfirmation}>
        <c-okcp-add-member-confirmation onclose={closeModal} onaddmember={addmemberPage}>
        </c-okcp-add-member-confirmation>
    </template>
    <template if:true={showSelectContact}>
        <c-okcp-select-contact onclose={handleClose} onsubmit={handleContactSelected} contact-list={contactList}>
        </c-okcp-select-contact>
    </template>

</template>