<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-okvriu-left-navigation selected-tab="appointments">
        <div slot="body">
            <lightning-tabset>
                <lightning-tab label="Completed" if:false={isMobile}>
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="4" columns={columns4}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                            where-clause={whereClause4}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                            reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                            norecord-message="No Appointments Found."
                            show-all-paginator-buttons=true onpaginatoraction={handlePaginatorAction}
                            onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab>
                <lightning-tab label="Scheduled">
                    <!-- <c-oktcscheduledappointmentslist></c-oktcscheduledappointmentslist> -->
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC" where-clause={whereClause}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                            reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                            show-checkbox=true checkbox-button-label="Cancel Appointments"  checkbox-button-class=" slds-m-left_x-small table-button-class "
                            checkbox-button-variant="brand" oncheckboxdata={getSelectedIds}
                            norecord-message="No Appointments Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab>
                <lightning-tab label="To be Scheduled" if:false={isMobile}>
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns2}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                            where-clause={whereClause2}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            reset-table={resetTable2} reload-table={reloadTable2} header="Add Properties"
                            norecord-message="No Appointments Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab>
                <lightning-tab label="In Progress" if:false={isMobile}>
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns3}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                            where-clause={whereClause3}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                            norecord-message="No Appointments Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab>
                <lightning-tab label="Cancelled" if:false={isMobile}>
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns5}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                            where-clause={whereClause5}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                            norecord-message="No Appointments Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab>
            </lightning-tabset>
            <template if:true={showCalendar}>
                <c-okvriu-schedule-appointment recordid={appointmentId} selectvalue={accountId} onclose={hideModal}>
                </c-okvriu-schedule-appointment>
            </template>
            <template if:true={showConfirmation}>
                <c-okvriu-complete-confirmation type={type} appointment-id={appointmentId} appointment-list={selectedAppointmentIds}
                is-bulk={isBulk} onclose={hideModal}>
                </c-okvriu-complete-confirmation>
            </template>
            <template if:true={showBatchModal}>
                <c-okvriu-assign-batch-modal type={type} heading="Select Lab" appointment-list={selectedAppointmentIds}
                    appointment-id={appointmentId} onclosebatch={hideBatchModal}>
                </c-okvriu-assign-batch-modal>
            </template>
        </div>
    </c-okvriu-left-navigation>
</template>