<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{heading}</h2>
            </header>
            <div class="slds-modal__content modal__content-height slds-p-around_medium modal-body"
                id="modal-content-id-1">
                <span class="heading-model"> Are you sure you want to assign the appointments to a batch? </span>
                <br />
                <p>Please select a Lab and click "Complete" to complete and "Cancel" to go back.</p>
                <br />

                

                <lightning-combobox name="progress" label="Lab" value={labId} placeholder="Select Lab"
                    options={laboptions} onchange={handleChange} required></lightning-combobox>

                 <lightning-input type="text" label="Container Barcode Id" value={barcodeId} onchange={handlebarcodechange} ></lightning-input>
            </div>
            <footer class="slds-modal__footer">
                <lightning-button label="Complete" variant="brand" onclick={closeAppointmentandcreateBatch}
                    style="margin-right: 10px;"></lightning-button>
                    <lightning-button name="ScanBarcode" label="Scan Barcode" variant="brand" onclick={closeAppointmentandcreateBatch}
                    style="margin-right: 10px;"></lightning-button>
                <lightning-button label="Cancel" variant="neutral" onclick={handleCloseModal}>
                </lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
</template>