<template>
    <div class="card-heading">
            <div>
                <b><div class="slds-text-heading_small"><span if:false={hidePrefferedTime}>Preferred Date : </span></div></b><span if:true={preferredDate} class="slds-text-heading_small">{preferredDate}</span> <br/>
                <b><div class="slds-text-heading_small"><span if:false={hidePrefferedTime}>Preferred Time : </span></div></b><span if:true={preferredTime} class="slds-p-left_small slds-text-heading_small">{preferredTime}</span>
            </div>
        <div class="legend">
            <span class="legend-color-green">&nbsp;</span>
            <p>Available</p>
            <span class="legend-color-blue">&nbsp;</span>
            <p>Selected</p>
            <span class="legend-color-gray">&nbsp;</span>
            <p>Not Available</p>
        </div>
    </div>
    <div style="background:white;overflow:scroll;">
        <table class="tbl">
            <thead>
                <tr class="slds-line-height_reset">
                    <th style="background:white;"></th>
                    <template if:true={data.weeks}>
                        <template for:each={data.weeks} for:item="dt">
                            <th key={dt} class="headerRow">{dt}</th>
                        </template>
                    </template>
                </tr>

                <tr class="slds-line-height_reset">
                    <th style="background:white;"></th>
                    <template if:true={data.dates}>
                        <template for:each={data.dates} for:item="dt">
                            <th key={dt} class="headerRow">{dt}</th>
                        </template>
                    </template>
                </tr>
            </thead>

            <tbody>
                <template if:true={data.rows}>
                    <template for:each={data.rows} for:item="row">
                        <tr key={row.timeSt}>
                            <td>{row.timeSt}</td>

                            <template if:true={row.cols}>
                                <template for:each={row.cols} for:item="col">
                                    <template if:true={col.isSelected}>
                                        <td key={col.slotId} class="selectedCol">Available</td>
                                    </template>

                                    <template if:false={col.isSelected}>
                                        <td key={col.slotId} class="notAvailable" if:false={col.isAvailable}>Not
                                            Available</td>
                                        <td key={col.slotId} class="available" if:true={col.isAvailable}
                                            data-recid={col.slotId} data-slotid={col.slotId} data-slottime={row.timeSt}
                                            onclick={handleSelectedSlots}>
                                            Available ({col.availableSlots})</td>
                                    </template>

                                </template>
                            </template>
                        </tr>
                    </template>
                </template>
            </tbody>
        </table>
    </div>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
</template>