<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="row form-section p-b-md lable_sfit">
        <div class="col-sm-4">
            <lightning-combobox name="insuranceType" label="Insurance Type" value={dataObj.insuranceType}
                placeholder="Insurance Type" options={insuranceType} onchange={handleInputChange} required>
            </lightning-combobox>
        </div>

        <div class="col-sm-4" if:true={medicInfo1}>
            <lightning-combobox name="medicareType" label="Select the Medicare type?" value={dataObj.medicareType}
                placeholder="Select the Medicare type?" options={medicareTypeVal} onchange={handleInputChange}
                required={conditionallyRequired}>
            </lightning-combobox>
        </div>
        <div class="col-sm-4" if:true={medicInfo2}>
            <lightning-combobox name="medicareSupplementPlan" label="Do you have a Medicare Supplement plan?"
                value={dataObj.medicareSupplementPlan} placeholder="Do you have a Medicare Supplement plan?"
                options={haveMediPlanOpt} onchange={handleInputChange}>
            </lightning-combobox>
        </div>
    </div>

    <template if:true={showOtherInfo}>
        <div class="row form-section p-b-md lable_sfit">
            <div class="col-sm-8">
                <!--  <lightning-combobox name="primaryInsuranceCompanyName" label="Primary Insurance Company Name"
                    value={dataObj.primaryInsuranceCompanyName} placeholder="Primary Insurance Company Name"
                    options={companyNameValues} onchange={handleInputChange} required={isRequired}>
                </lightning-combobox> -->
                <label class="slds-form-element__label slds-no-flex">
                    <abbr class="slds-required" title="required">* </abbr>Primary
                    Insurance Company Name</label>
                <template if:true={selectedCompanyName}>
                    <c-ok-custom-lookup icon-name="custom:custom85" is-medicare={isMedicare} is-medicaid={isMedicAid} onselect={handleCompanyNameSelection}
                        label-name="Primary Insurance Company Name" record-name={selectedCompanyName} show-remove-button={showRemove} onremoveactivity={handleCompanyNameRemoval}
                       >
                    </c-ok-custom-lookup>
                </template>
                <template if:false={selectedCompanyName}>
                    ***
                    <c-ok-custom-lookup icon-name="custom:custom85" is-medicare={isMedicare} is-medicaid={isMedicAid}
                        label-name="Primary Insurance Company Name" record-name={selectedCompanyName} 
                        onselect={handleCompanyNameSelection} onremoveactivity={handleCompanyNameRemoval}>
                    </c-ok-custom-lookup>
                </template>
                <!--    <template if:true={showError}>
              <p class="slds-form-element__label slds-no-flex" style="color : red">{error}</p> 
              </template>-->
            </div>
            <div class="col-sm-4">
                <!--Need to add dynamic Label-->
                <lightning-input type="text" label={memberIdLable} pattern={dynamicRegex} name="memberId"
                    onchange={handleInputChange} value={dataObj.memberId} required={isRequired}
                    maxlength={memberIdLengthIFMedicade} onkeyup={changeMemberIdToUppercase}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="Group Number" name="groupNumber" onchange={handleInputChange}
                    value={dataObj.groupNumber} required={groupNumberRequired}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="Group Name" name="groupName" onchange={handleInputChange}
                    value={dataObj.groupName}>
                </lightning-input>
            </div>
            <div class="col-sm-4" if:true={showUnknown}>
                <lightning-input type="text" label="Insurance Company Name" name="otherPrimaryInsuranceCompanyName"
                    onchange={handleInputChange} value={dataObj.otherPrimaryInsuranceCompanyName}
                    required={showUnknown}>
                </lightning-input>
            </div>
        </div>

        <div class="section-header">
            <h3 class="section-title">
                Patient Information (As listed on insurance card)
            </h3>
        </div>

        <div class="row form-section p-b-md lable_sfit">
            <div class="col-sm-4">
                <lightning-input type="text" label="Patient First Name" name="firstName" onchange={handleInputChange}
                    value={dataObj.firstName} required={isRequired}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="Patient Middle Name" name="middleName" onchange={handleInputChange}
                    value={dataObj.middleName}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="Patient Last Name" name="lastName" onchange={handleInputChange}
                    value={dataObj.lastName} required={isRequired}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-combobox name="relationToPolicyHolder" label="Relation to PolicyHolder"
                    value={dataObj.relationToPolicyHolder} placeholder="Relation to PolicyHolder"
                    options={relationToPlaceHolderValues} onchange={handleInputChange} required={isRequired}>
                </lightning-combobox>
            </div>
        </div>

        <div class="section-header">
            <h3 class="section-title">Policyholder Information</h3>
        </div>

        <div class="row form-section p-b-md lable_sfit">
            <div class="col-sm-4">
                <lightning-input type="text" label="Policyholder First Name" name="policyholderFirstName"
                    onchange={handleInputChange} value={dataObj.policyholderFirstName} required={isRequired}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="Policyholder Middle Name" name="policyholderMiddleName"
                    onchange={handleInputChange} value={dataObj.policyholderMiddleName}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="Policyholder Last Name" name="policyholderLastName"
                    onchange={handleInputChange} value={dataObj.policyholderLastName} required={isRequired}>
                </lightning-input>
            </div>

            <div class="upload-class d_upload_new">
                <b class="slds-float_left n_heading">Front of Insurance Card Image</b>
                <div>
                    <lightning-file-upload name="fileUploader" variant="labal-hidden" accept={acceptedFormats}
                        record-id={contactId} onuploadfinished={handleUploadFinished} required>
                    </lightning-file-upload>
                </div>
                <div>
                    <b class="slds-float_left n_heading">Back of Insurance Card Image</b>
                    <lightning-file-upload name="fileUploader" variant="labal-hidden" accept={acceptedFormats}
                        record-id={contactId} onuploadfinished={handleUploadFinished} required>
                    </lightning-file-upload>
                </div>

            </div>


            <template if:true={docUploaded}>
                <template for:each={docUploaded} for:item="doc" for:index="index">
                    <p key={doc.id} class="slds-form-element__label slds-no-flex n_filename_center"
                        style="color: black">
                        <b>{doc.name}</b>
                    </p>
                </template>
            </template>
        </div>
    </template>
</template>