<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="slds-form form-section">
        <!-- Group 1 -->
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="prescriptionMed"
                    label="Do you take prescription medications daily? " options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.prescriptionMed} required>
                </lightning-radio-group>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="medsInlastThreedays"
                    label="Have you taken medication for fever in the past three days?" options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.medsInlastThreedays} required>
                </lightning-radio-group>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="beenSickMoreThan1day"
                    label="Since January 1, 2020, have you been sick for more than 1 day?" options={yesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.beenSickMoreThan1day} required>
                </lightning-radio-group>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="feverOrCough"
                    label="Are you currently having fever, cough, or difficulty breathing?" options={yesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.feverOrCough} required>
                </lightning-radio-group>
            </div>
        </div>
        <template if:true={showDateFields}>
            <div class="slds-form__row">
                <div class="slds-form__item horizontal-radio">
                    <lightning-input type="date" name="firstFeltSick" style="min-width: 230px"
                        label="Which day did you first notice symptoms?" onchange={handleInputChange}
                        value={dataObj.firstFeltSick} max={todayDate}>
                    </lightning-input>
                </div>
            </div>
            <div class="slds-form__row">
                <div class="slds-form__item horizontal-radio">
                    <lightning-input type="date" name="firstFeltWell" style="min-width: 230px"
                        label="Which day did the symptoms go away?" onchange={handleInputChange}
                        value={dataObj.firstFeltWell} max={todayDate}>
                    </lightning-input>
                </div>
            </div>
        </template>
    </div>

</template>