<template>
  <!-- Spinner component -->
  <div if:true={showSpinner}>
    <div class="backdrop">
      <div class="spinner">
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
      </div>
    </div>
  </div>
  <c-oktc-left-navigation selected-tab="createContact">
    <div slot="body">
      <lightning-tabset>
        <lightning-tab label="Contact Information">
          <div class="app-content center-align-card">
            <div class="slds-grid slds-wrap">
              <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12">
                <div class="card-right-content">
                  <template if:false={showThankYou}>
                    <div class="card-header">
                      <h1>Enter your information below</h1>

                      <div class="slds-form-element slds-p-bottom_medium">
                        <template if:true={showError}>
                          <div class="error">{errorMessage}</div>
                        </template>
                        <template if:true={showSuccess}>
                          <div class="success">{errorMessage}</div>
                        </template>
                        <!-- Contact Type -->
                        <div class="slds-grid slds-wrap">
                          <div
                            class="slds-col slds-size_4-of-12 slds-large-size_4-of-12"
                          >
                            <label
                              class="slds-form-element__label"
                              for="text-input-id-1"
                            >
                              <abbr class="slds-required" title="required"
                                >* </abbr
                              >Test Type</label
                            >
                            <div class="slds-form-element__control">
                              <lightning-combobox
                                class="combo-box"
                                name="contactType"
                                variant="label-hidden"
                                value={contactType}
                                placeholder="Select Contact Type"
                                options={contactTypeOptions}
                                onchange={handleChange}
                              ></lightning-combobox>
                            </div>
                          </div>
                        </div>
                        <template if:true={isAntibody}>
                          <c-ok-testing-create-antibody-contact
                            account={account}
                            onshowerror={handleError}
                            onsuccess={handleSuccess}
                          ></c-ok-testing-create-antibody-contact>
                        </template>
                        <template if:true={isCovid}>
                          <c-ok-testing-create-covid-contct
                            account={account}
                            onshowerror={handleError}
                            onsuccess={handleSuccess}
                          ></c-ok-testing-create-covid-contct>
                        </template>
                      </div>
                      <lightning-button
                        label="Submit"
                        title="Neutral action"
                        onclick={doRegistration}
                        class="okpc-registration-button"
                        disabled={disableSubmitButton}
                      ></lightning-button>
                    </div>
                  </template>
                  <template if:true={showThankYou}>
                    <div class="success">{thankYouMessage}</div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </lightning-tab>
      </lightning-tabset>
    </div>
  </c-oktc-left-navigation>
</template>