.THIS .user-image {
    margin-right: .5rem;
    border-radius: 50%;
    overflow: hidden;
}

.THIS .navbar-primary.oktcbar {
    background-color: #27c4dd !important;
}

.THIS .spacer {
    padding-left: 2rem;
    padding-right: 2rem;
}

.THIS.nav-checkbox:checked~.content-container .community-nav {
    height: auto;
    max-height: 20rem;
    overflow: visible;
}

@media (max-width: 768px) {
    .THIS .navbar-primary nav a {
        padding: .5rem 0 !important;
    }
    .THIS .slds-nav-vertical {
        margin-top: 10rem;
    }
}