<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="slds-form form-section">
        <!-- Group 1 -->
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="ifSymptomatic"
                    label="Are you Symptomatic?" options={YesNoUnKnwOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.ifSymptomatic} required>
                </lightning-radio-group>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="whereYouLive"
                    label="Do you live/work in High Risk Setting (healthcare, first responder, corrections, other)?" options={YesNoUnKnwOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.whereYouLive} required>
                </lightning-radio-group>
            </div>
        </div>
     <!--   <div class="slds-form__row" if:true={showhighRisk}>
            <div class="slds-form__item horizontal-radio">
                <lightning-input name="highRisk"
                    label="What type of High Risk Setting?" 
                    type="text"  onchange={handleInputChange} value={dataObj.highRisk} required>
                </lightning-input>
            </div>
        </div>
        -->
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="inContactWithpositiveCase"
                    label="Have you been in direct contact with a Positive Case in the last 2-14 days?" options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.inContactWithpositiveCase} required>
                </lightning-radio-group>
            </div>
        </div>
      
    </div>

</template>