<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Details</h2>
            </header>
            <div class="slds-modal__content modal__content-height slds-p-around_medium modal-body"
                id="modal-content-id-1">
                <template if:false={isSubmitted}>
                    <div class="slds-form" role="list">
                        <template if:true={error}>
                            <p style="font-size:14px; color : red">{label.consentError}</p>
                        </template>
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_6-of-12">
                                <lightning-combobox name="testType" label="Test Type" placeholder="Select"
                                value={currentTestType} options={testTypeOptions} onchange={handleInput} ></lightning-combobox>        
    
                            </div>																													
                            <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_6-of-12"> 
                                <lightning-input type="text" value={sampleCollectedBy} label="Sample Collected By"
                                        autocomplete="none" name="sampleCollectedBy" style="width:100%"  onchange={handleInput} ></lightning-input>
                            </div>
                
                            <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_6-of-12">
                                <lightning-combobox name="source" label="Specimen Type Description" placeholder="Select"
                                value={selectedSource} options={sources} onchange={handleInput} ></lightning-combobox>        
                            </div>
                            <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_6-of-12">
                                <lightning-combobox name="lab" label="Lab Name" placeholder="Select"
                                value={selectedLab} options={labNames} onchange={handleInput} ></lightning-combobox>        
                            </div>
                            <div class="slds-col slds-p-top_medium slds-p-right_small slds-size_1-of-1 slds-large-size_12-of-12">
                                <lightning-input type="checkbox" label="Verbal Consent"
                                    name="verbalConsent" checked={verbalConsent} onchange={handleInput}></lightning-input>
                            </div>	
                        </div>
                    </div>
                </template>
                <template if:true={isSubmitted}>
                    <p style="font-size:18px;">There is no slot for {currentTestType}. Do you want to create one?</p>
                </template>  

            </div>
            <footer class="slds-modal__footer">
                <template if:true={isSubmitted}>
                    <lightning-button class="slds-p-around_small" label="Yes" variant="neutral" onclick={handleSubmit}></lightning-button>
                    <lightning-button class="slds-p-around_small" label="No" variant="neutral" onclick={handleNo}></lightning-button>
                </template>
                <template if:false={isSubmitted}>
                    <lightning-button class="slds-p-around_small" label="Submit" variant="neutral" onclick={handleSubmit}> </lightning-button>
                    <lightning-button class="slds-p-around_small" label="Cancel" variant="neutral" onclick={handleCloseModal}></lightning-button>
                </template>
                
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
</template>