<template>
    <template if:false={isCancelledWindow}>
        <div class="container shrink-mobile">
            <section class="slds-clearfix slds-m-bottom_small">
                <div class="slds-float_right">
                    <lightning-button class="slds-m-right_small" label="Schedule Appointment" name="scheduleAppointment"
                        variant="brand" onclick={createAppointment}></lightning-button>
                </div>
            </section>
            <div class="site-header">
                <div class="slds-grid slds-wrap">
                    <div class="icon">
                        <lightning-icon class="icon-center" icon-name="utility:user" alternative-text="Connected"
                            size="large" title="large size">
                        </lightning-icon>
                    </div>
                    <div class="detail">
                        <div class="site-name">{contactName}</div>
                        <div class="address">{MobileNumber}</div>
                        <div class="address">{email}</div>
                    </div>
                    <div class="controls">
                        <lightning-button label="Edit Profile" title="Non-primary action" onclick={editProfile}
                            class="slds-m-left_x-small small time-input"></lightning-button>
                    </div>
                </div>
            </div>

            <div class="slds-wrap">
                <template if:true={appointmentList}>
                    <template for:each={appointmentList} for:item="appointment">
                        <div key={appointment.id}>
                          
                            <div class="site-header slds-col" if:true={appointment.isToBeScheduled}>
                                <div class="icon icon-yellow">
                                    <lightning-icon class="icon-center" icon-name="utility:package"
                                        alternative-text="Connected" size="large" variant="inverse" title="large size">
                                    </lightning-icon>
                                </div>
                                <div class="detail">
                                    <div class="site-name">Submission ({appointment.siteName})</div>
                                    <div class="address">Preferred Appointment Time: <strong>{appointment.startDate}
                                            {appointment.startTime}</strong></div>
                                    <div class="address">Location: <strong
                                            class="adr-link">{appointment.address}</strong>
                                    </div>
                                </div>
                                <div class="controls">
                                    <lightning-button label="Modify" title="Non-primary action"
                                        onclick={editAppointment} class="slds-m-left_x-small small time-input">
                                    </lightning-button>
                                    <lightning-button label="Cancel" title="Non-primary action"  data-id={appointment.id} 
                                        onclick={cancelAppointment} class="slds-m-left_x-small small time-input">
                                    </lightning-button>
                                </div>

                            </div>
                            <div class="site-header slds-col" if:true={appointment.isScheduled}>
                                <div class="icon icon-green">
                                    <lightning-icon class="icon-center" icon-name="utility:package_org"
                                        alternative-text="Connected" size="large" variant="inverse" title="large size">
                                    </lightning-icon>
                                </div>
                                <div class="detail">
                                    <div class="site-name">Scheduled ({appointment.siteName})</div>
                                    <div class="address">Appointment Time:  <strong>
                                        <lightning-formatted-date-time value={appointment.startDate}>
                                        </lightning-formatted-date-time>
                                        &nbsp; {appointment.startTime}
                                    </strong>
                                        </div>
                                    <div class="address">Location: <strong
                                            class="adr-link">{appointment.address}</strong>
                                    </div>
                                </div>
                                <div class="controls">
                                    <lightning-button label="View on Map" title="View on Map" data-id={appointment.siteId}
                                        onclick={retrieveMarker} class="slds-m-left_x-small small time-input">
                                    </lightning-button>
                                    <!-- <lightning-button label="Re-Schedule" title="Re-Schedule" onclick={editAppointment}
                            class="slds-m-left_x-small small time-input"></lightning-button> -->
                                    <lightning-button label="Cancel" data-id={appointment.id} title="Cancel" onclick={cancelAppointment}
                                        class="slds-m-left_x-small small time-input"></lightning-button>
                                </div>

                            </div>
                            <div class="site-header slds-col" if:true={appointment.isCancelled}>
                                <div class="icon icon-green">
                                    <lightning-icon class="icon-center" icon-name="utility:package_org"
                                        alternative-text="Connected" size="large" variant="inverse" title="large size">
                                    </lightning-icon>
                                </div>
                                <div class="detail">
                                    <div class="site-name">Cancelled ({appointment.siteName})</div>
                                    <div class="address">Appointment Time: <strong>
                                            <lightning-formatted-date-time value={appointment.startDate}>
                                            </lightning-formatted-date-time>
                                            &nbsp; {appointment.startTime}
                                        </strong></div>
                                    <div class="address">Location: <strong
                                            class="adr-link">{appointment.address}</strong>
                                    </div>
                                </div>
                                <div class="controls">

                                    <!-- <lightning-button label="Re-Schedule" title="Re-Schedule" onclick={editAppointment}
                            class="slds-m-left_x-small small time-input"></lightning-button> -->
                                    <lightning-button data-id={appointment.id} label="Reschedule" title="Reschedule" onclick={openCancel}
                                        class="slds-m-left_x-small small time-input"></lightning-button>
                                </div>

                            </div>
                            <div class="site-header slds-col" if:true={appointment.isCompleted}>
                                <div class="icon icon-green">
                                    <lightning-icon class="icon-center" icon-name="utility:package_org"
                                        alternative-text="Connected" size="large" variant="inverse" title="large size">
                                    </lightning-icon>
                                </div>
                                <div class="detail">
                                    <div class="site-name">Completed ({appointment.siteName})</div>
                                    <div class="address">Lab Name: <strong>{results.labName}</strong></div>
                                    <div class="address">Completed Date : <strong>
                                            <lightning-formatted-date-time value={results.createddate} year="numeric"
                                                month="numeric" day="numeric" hour="2-digit" minute="2-digit"
                                                hour12="false">
                                            </lightning-formatted-date-time>
                                        </strong></div>
                                    <div class="address"> Result Status: <strong class="adr-link">Pending</strong></div>
                                </div>
                            </div>

                            <div class="site-header slds-col slds-size_1-of-1 " if:true={hasResults}>
                                <div class="icon icon-green">
                                    <lightning-icon class="icon-center" icon-name="utility:package_org"
                                        alternative-text="Connected" size="large" variant="inverse" title="large size">
                                    </lightning-icon>
                                </div>
                                <div class="detail">
                                    <div class="site-name">Test Result Available</div>
                                    <div class="address">Lab Name: <strong>{results.labName}</strong></div>
                                    <div class="address">Sample Type: <strong>{results.specimen}</strong></div>
                                    <div class="address">Result Status: <strong
                                            class="adr-link">{results.result}</strong>
                                    </div>

                                </div>
                                <div class="controls">
                                    <lightning-button label="View Certificate" title="View Certificate"
                                        onclick={viewCertificate} class="slds-m-left_x-small small time-input">
                                    </lightning-button>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div class="site-header slds-col slds-size_1-of-1 " if:true={hasResults}>
                        <div>
                            <p class="address"><strong>A positive result indicates the presence of SARS-CoV2, the virus
                                    that
                                    causes Coronavirus Disease 2019 (COVID-19). Results of this assay are for use in the
                                    presumptive identification of SARS-CoV-2 in respiratory specimens from symptomatic
                                    patients.
                                    This testing is not specifically validated for detection of SARS-CoV2 virus in
                                    asymptomatic patients. False positive and false negative results are possible.
                                    False negative results are more likely in patients with a very low viral load or in
                                    those with insufficient specimen collection. The possibility of a false negative
                                    result
                                    should be considered if the patient’s recent exposures or clinical presentation
                                    suggest
                                    that COVID-19 infection is probable.
                                    Results of this test should not be used as the sole basis for diagnosis, treatment,
                                    or
                                    other patient management decisions.</strong>
                            </p> <br />
                            <p class="address">
                                <strong> This test is performed in compliance with a US Food and Drug Administration
                                    (FDA)
                                    Emergency Use Authorization (EUA).
                                    It has been validated per requirements dictated by the FDA’s Guidance Document
                                    (Policy
                                    for Diagnostic Tests for Coronavirus Disease-2019 during the Public Health
                                    Emergency;
                                    Immediately in Effect Guidance for Clinical Laboratories, Commercial Manufacturers,
                                    and
                                    Food and Drug Administration Staff Document issued March 16, 2020).
                                    This test is only authorized for the duration of time that circumstances exist
                                    justifying this emergency use authorization under section 564(b)(1) of the Act, 21
                                    U.S.C. 360bbb-3(b)(1), unless the authorization is terminated or revoked
                                    sooner.</strong>
                            </p><br />
                            <p class="address"><strong>To view FDA required fact sheets about COVID-19 testing, go to <a
                                        href="https://immylabs.com/covidpcr"> https://immylabs.com/covidpcr </a>
                                    Test performed at IMMYLabs, CLIA# 37D2180912 2701 Corporate Centre Dr. Norman, OK
                                    73069
                                </strong> </p>
                        </div>
                    </div>

                    <template if:true={showConfirmation}>
                        <c-oktccompleteconfirmation type="cancel" appointment-id={appointmentID} onclose={hideModal}>
                        </c-oktccompleteconfirmation>
                    </template>
                    <template if:true={showAppointmentModal}>
                        <c-okpceditappointment appointment-id={appointmentID} site-id={appointment.siteId}
                            onclose={hideModal}></c-okpceditappointment>
                    </template>
                    <template if:true={showMap}>
                        <c-okpc-open-map map-markers={mapMarkers} onclosesingle={hideModal}></c-okpc-open-map>
                    </template>

                </template>

                <template if:false={hasResults}>
                    <div class="slds-col slds-size_1-of-1 slds-large-size_3-of-3">
                        <div class="base-db-card">
                            <div class="content-section">
                                <span class="content-section--db-label">Instructions/Material</span>
                                <div class="content-section--cs-card">
                                    <p class="content-section--db-heading">Remember to bring the following items with
                                        you:</p>
                                    <ol class="slds-list--ordered content-section--db-subheading">
                                        <li><b>Completed Application</b> (<a
                                                href="https://www.ok.gov/health2/documents/18008VR%20-%20VR%20Birth%20Application%20-%20ENG%20-%20eform.pdf"
                                                target="_blank">birth
                                            </a> or <a
                                                href="https://www.ok.gov/health2/documents/18011VR%20-%20VR%20Death%20Application%20-%20ENG-eform.pdf"
                                                target="_blank">death
                                            </a>). If you can't print the application, blank forms will be available. Please come a few minutes early if you need to fill it out on site.
                                        </li>
                                        <li><b>Photo ID</b>&nbsp;example Driver License [<a
                                                href="https://www.ok.gov/health/Birth_and_Death_Certificates/Acceptable_Identification/index.html"
                                                target="_blank">list
                                            </a>&nbsp;of acceptable ID]</li>
                                        <li><b>Fee</b> $15 per copy. Additional fee required for e.g. amendment,
                                            paternity, adoption</li>
                                        <li><b>Forms</b> Here's a <a href="https://www.ok.gov/health/Birth_and_Death_Certificates/Vital_Records_Forms/index.html" target="_blank">link</a> to our other forms which you may need for
                                            your appointment.</li>
                                        <li><b>If you are not the subject of the record or a named parent,</b> please 
                                            click the link for additional documentation that will be required. <a
                                            href="https://www.ok.gov/health/Birth_and_Death_Certificates/Birth_Certificate_Eligibility/index.html"
                                            target="_blank">Birth
                                        </a>&nbsp;<a
                                            href="https://www.ok.gov/health/Birth_and_Death_Certificates/Death_Certificate_Eligibility/index.html"
                                            target="_blank">Death
                                        </a></li>
                                    </ol>
                                    <br/>
                                    <ul class="content-section--db-subheading">
                                        <li>Please arrive on time. If you are more than 15 min late, you will be given
                                            the option to be seen as a walk-in, if the schedule permits, or you will be
                                            rescheduled for a later date.</li>
                                            <br/>    
                                        <!--<li>I strongly recommend you wear a face masks/covering so you are not exposed
                                            to anyone who may be ill.</li>
                                            <br/>-->
                                        <li>For your protection, we are limiting the number people in the lobby so you
                                            may ONLY bring 1 additional person with you to the appointment.</li>
                                            <br/>
                                        <li>If you have any questions, please email at AskVR@health.ok.gov or you can
                                            call 405.271.4040 for assistance Mon-Fri 8:00-5:00.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </template>

            </div>

        </div>
    </template>

    <template if:true={isCancelledWindow}>
        <div class="cancelClass" style="display: block">
            <div class="page-header">
                <h1 class="page-title">Appointment Scheduling</h1>
                <c-okpc-help-text
                    help-text="Please see your details and edit them, in case you want to change your preferred slot.">
                </c-okpc-help-text>
            </div>

            <!-- <c-okpc-appointment-preference></c-okpc-appointment-preference> -->
            <c-okvrcp-preference-component multiple-appnt={multipleAppt} onsubmit={handleSubmitData} current-step={currentStep}
                istesting={istestingsite} appointment-id-dashboard={appointmentID}></c-okvrcp-preference-component>
            <div class="controls slds-m-top_medium">
                <!--   <lightning-button variant="neutral" type="submit" label="Back"
                    class="slds-m-right_xx-small" onclick={navigateToPersonalInfo}>
                </lightning-button> -->
                <!--  <lightning-button variant="brand" type="submit" label="Submit" name="submit"
                    onclick={handleSubmit}>
                </lightning-button> -->
            </div>
        </div>
    </template>
</template>