<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oktc-left-navigation selected-tab="dashboard">
        <div slot="body" class="responsive-body">
            <c-oktc-dashboard></c-oktc-dashboard>
        </div>
    </c-oktc-left-navigation>        
</template>