.card-heading {
    background: #f7f7f7;
    padding: 1.5rem 1.5rem;
    margin: -1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    position: relative;
}

.helper-section {
    display: block;
    padding: 1rem;
    border: 1px solid #ddd;
}
.button-container{
    padding: 0 2rem;
}
.upload-btn {
    margin-bottom: 1rem;
}