<template>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="main-container slds-p-around_medium app-content">
        <div class="card-heading">
            <h1>Download File</h1>
        </div>
       

        <div class="card-content">
            <div class="button-container" style="width: 100%">
                <lightning-button class="slds-float_right table-button-class" label="Download" icon-name="utility:download"
                    title="download" onclick={getAntibodyList} variant="brand"></lightning-button>
            </div>
          
            <div>
                <div class="col-sm-4">
                    <lightning-input type="date" name="fromDate" style="min-width: 230px" max={todaysDate} label="From Date" onchange={handleInputChange} value={fromDate} required>
                    </lightning-input>
                    <lightning-input type="date" name="toDate" style="min-width: 230px" max={todaysDate} label="To Date" onchange={handleInputChange} value={toDate} required>
                    </lightning-input>
                </div>
            </div>
        </div>
    </div>
</template>