<template>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <!-- <div class="check-block">
        <lightning-input type="checkbox"
            label="I understand that the information I provided is voluntary. I give consent for Oklahoma State Department of Health (OSDH) to access, use and disclose my PHI for Public Health purpose. To see OSDH Privacy Note click the following link(ODH 303F)."
            name="consent" checked={consentvalue} onchange={handleConsentChange}>
        </lightning-input>
    </div> -->

    <div class="check-block">
        <!-- <lightning-input type="checkbox"
            label="I understand that the information I provided is voluntary. I give consent for Oklahoma State Department of Health (OSDH) to access, use and disclose my PHI for Public Health purpose. To see OSDH Privacy Note click the following link(ODH 303F)."
            name="consent" checked={consentvalue} onchange={handleConsentChange}>
        </lightning-input> -->
        <div class="slds-form-element">
            <div class="slds-form-element__control slds-grow">
                <span class="slds-checkbox">
                    <input  type="checkbox" id="checkbox-26" name="consent" checked={consentvalue} onchange={handleConsentChange}>
                    <label  for="checkbox-26" class="slds-checkbox__label">
                        <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label">I understand that the information I provide is Voluntary. I give consent for the Oklahoma State Department of Health (OSDH) to access, use and disclose my protected health information (PHI) for Public Health Purposes. To see the OSDH Privacy Notice, click the following link <a onclick={clickOfLink}>(ODH
                                303F).</a>
                        </span>
                    </label>
                </span>
            </div>
        </div>
    </div>

</template>