<template>
  <div class="row form-section p-b-md">
    <div class="col-sm-4">
      <lightning-input type="text" label="First Name" pattern="^[A-Za-z ]+$"
        message-when-pattern-mismatch="Please do not use any special characters." required name="firstName"
        onchange={handleInputChange} value={dataObj.firstName}></lightning-input>
    </div>
    <div class="col-sm-4">
      <lightning-input type="text" label="Middle Name" name="middleName" pattern="^[A-Za-z ]+$"
        message-when-pattern-mismatch="Please do not use any special characters." onchange={handleInputChange}
        value={dataObj.middleName}></lightning-input>
    </div>
    <div class="col-sm-4">
      <lightning-input type="text" label="Last Name" name="lastName" pattern="^[A-Za-z ]+$"
        message-when-pattern-mismatch="Please do not use any special characters" required onchange={handleInputChange}
        value={dataObj.lastName}></lightning-input>
    </div>
    <div class="col-sm-4">
      <lightning-combobox name="Suffix" label="Suffix" value={dataObj.suffix} placeholder="Select Suffix"
        options={salutations} onchange={handleInputChange}>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-input type="email" label="E-mail" name="email" required onchange={handleInputChange}
        value={dataObj.email}>
      </lightning-input>
    </div>
    <div class="col-sm-4">
      <lightning-input type="tel" label="Phone" name="phone"
        message-when-pattern-mismatch="Please provide a valid phone number" onchange={handleInputChange}
        value={dataObj.phone} onkeyup={handleInputChange} onblur={handleInputChange} maxlength="14" required>
      </lightning-input>
    </div>

    <div class="col-sm-12 slds-p-top_small">
      <lightning-input type="checkbox" data-field="email" label="Receive communication via Email" name="emailCheckbox"
        checked={dataObj.emailCheckbox} onchange={handleInputChange}>
      </lightning-input>
    </div>
    <div class="col-sm-12 slds-p-bottom_small">
      <lightning-input type="checkbox" data-field="sms" label="Receive communication via SMS Text Message"
        name="smsCheckbox" checked={dataObj.smsCheckbox} onchange={handleInputChange}>
      </lightning-input>
    </div>
    <div class="col-sm-4">
      <lightning-input type="date" name="dob" style="min-width: 230px" max={todayDate} label="DOB"
        onchange={handleInputChange} value={dataObj.dob} required>
      </lightning-input>
    </div>
    <div class="col-sm-4">
      <label for="input-23" class="slds-form-element__label slds-no-flex">Age</label>
      <div class="slds-form-element__control slds-grow">
        <output id="input-23" name="age" class="slds-input">{age}</output>
      </div>
    </div>
    <div class="col-sm-4">
      <lightning-combobox name="gender" label="Gender" value={dataObj.gender} placeholder="Gender"
        options={genderOptions} onchange={handleInputChange} required>
      </lightning-combobox>
    </div>
    <!--  <div class="col-sm-4">
            <lightning-input type="text" label="State of Birth" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters."  name="StateofBirth" onchange={handleInputChange} value={dataObj.stateofBirth}></lightning-input>
        </div>
        <div class="col-sm-4">
            <lightning-input type="text" label="Country of Birth" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters."  name="CountryofBirth" onchange={handleInputChange} value={dataObj.countryofBirth}></lightning-input>
        </div> -->
    <div class="col-sm-4">
      <lightning-combobox name="PrimaryLanguage" label="Primary Language" value={dataObj.primaryLanguage}
        placeholder="Select Language" options={LangOptions} onchange={handleInputChange}>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-combobox name="Race" label="Race" value={dataObj.race} placeholder="Select race" options={raceOptions}
        onchange={handleInputChange} required>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-combobox name="MaritialStatus" label="Marital Status" value={dataObj.maritialStatus}
        placeholder="Select Marital Status" options={maritialStatusOptions} onchange={handleInputChange}>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-combobox name="Ethnicity" label="Ethinicity" value={dataObj.ethnicity} placeholder="Select Ethinicity"
        options={ethnicityOptions} onchange={handleInputChange} required>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-input type="text" label="Social Security Number" name="socialSecurityNumber"
        onchange={handleInputChange} value={dataObj.socialSecurityNumber} onkeyup={formatSocialSecurityNumber}
        minlength="11" maxlength="11"></lightning-input>
    </div>
    <div class="col-sm-4">
      <lightning-input type="text" label="Driver's license" pattern="^[a-zA-Z0-9]+$"
        message-when-pattern-mismatch="Please provide a valid Driving License Number" name="drivingLicenseNumber"
        onchange={handleInputChange} maxlength="50" value={dataObj.drivingLicenseNumber} required={isDLNRequired}>
      </lightning-input>
    </div>
  </div>

  <div class="section-header">
    <h3 class="section-title">Address</h3>
  </div>
  <div class="row form-section p-b-md">
    <div class="col-sm-12">
      <lightning-input type="text" label="Street Address" name="address1" onchange={handleInputChange}
        value={dataObj.address1} required>
      </lightning-input>
    </div>
    <div class="col-sm-12">
      <lightning-input type="text" label="Apt/Suite" name="address2" onchange={handleInputChange}
        value={dataObj.address2}>
      </lightning-input>
    </div>
    <div class="col-sm-4">
      <!-- <lightning-input type="text" label="State" name="state" 
                    onchange={handleInputChange} value={dataObj.state}>
                </lightning-input> -->
      <lightning-combobox name="county" label="County" value={dataObj.county} placeholder="Select County"
        options={countyOptions} onchange={handleInputChange} required>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-input type="text" label="City" name="city" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
        message-when-pattern-mismatch="Please do not use any special characters." onchange={handleInputChange}
        value={dataObj.city} required>
      </lightning-input>
    </div>
    <div class="col-sm-4">
      <!-- <lightning-input type="text" label="State" name="state" 
                    onchange={handleInputChange} value={dataObj.state}>
                </lightning-input> -->
      <lightning-combobox name="state" label="State" value={dataObj.state} placeholder="Select State"
        options={stateOptions} onchange={handleInputChange} required>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-input type="text" label="Zip" name="zip" maxlength="5" minlength="2" pattern="^[0-9]*$"
        onchange={handleInputChange} value={dataObj.zip} message-when-pattern-mismatch="Please use a valid zip code."
        required>
      </lightning-input>
    </div>
  </div>
  <div class="section-header">
    <h3 class="section-title">Insurance Information</h3>
  </div>
  <div class="row form-section">
    <div class="col-sm-12">
      <lightning-combobox name="insuranceType" label="Insurance Type" value={dataObj.insuranceType}
        placeholder="Select Insurance Type" options={insuranceTypeOptions} onchange={handleInputChange} required>
      </lightning-combobox>
    </div>
    <div class="col-sm-6" if:true={showMedicareType}>
      <lightning-combobox name="medicareType" label="Select the Medicare type?" value={dataObj.medicareType}
        placeholder="Select Medicare Type" options={medicareTypeOptions} onchange={handleInputChange} required>
      </lightning-combobox>
    </div>

    <div class="col-sm-6" if:true={showMedicareSupplementPlan}>
      <lightning-combobox name="medicareSupplementPlan" label="Do you have a Medicare Supplement plan?"
        value={dataObj.medicareSupplementPlan} placeholder="Select Medicare Supplement Plan"
        options={medicareSupplementPlanOptions} onchange={handleInputChange} required>
      </lightning-combobox>
    </div>
  </div>
  <template if:true={showRemainingInfo}>
    <div class="row form-section">
      <div class={primaryInsuranceCompanyCSS}>
        <template if:false={selectedRecord}>
          <lightning-input label="Primary Insurance Company Name" value={primaryInsuranceCompanyName} type="search"
            onclick={handleInsuranceCompanyChange} onchange={handleInsuranceCompanyChange}
            placeholder="Search Primary Insurance Company Name" required>
          </lightning-input>
        </template>
        <div>
          <template if:false={selectedRecord}>
            <template if:true={insuranceCompanyRecords}>
              <template for:each={insuranceCompanyRecords} for:item="record">
                <c-ok-insurance-company-list key={record.Id} record={record} onselect={handleInsuranceCompanySelect}
                  iconname={insuranceIcon}>
                </c-ok-insurance-company-list>
              </template>
            </template>
          </template>
          <template if:false={selectedRecord}> </template>
        </div>
        <div class="">
          <template if:true={selectedRecord}>
            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
              <span class="slds-icon_container slds-icon-standard-account slds-combobox__input-entity-icon"
                title="Contact" style="top: 45px">
                <lightning-icon icon-name={insuranceIcon}></lightning-icon>
              </span>
              <!-- <input
                class="slds-input slds-combobox__input slds-combobox__input-value"
                id="combobox-id-5"
                aria-controls="listbox-id-5"
                autocomplete="off"
                role="textbox"
                type="text"
                placeholder="Select an Option"
                readonly=""
                value={selectedRecord.name}
                disabled
              /> -->
              <lightning-input label="Primary Insurance Company Name" value={selectedRecord.name} disabled required>
              </lightning-input>
              <template if:false={showRemoveButton}>
              <button class="sicon_container slds-button slds-button_icon slds-input__icon slds-input__icon_right"
                title="Remove selected option" onclick={handleRemove} style="top: 45px">
                <lightning-icon icon-name="utility:close" size="small">
                </lightning-icon>
                <span class="slds-assistive-text">Remove selected option</span>
              </button>
            </template>
            </div>
          </template>
        </div>
      </div>
      <div class="col-sm-4" if:true={showCompanyNameField}>
        <lightning-input type="text" label="Insurance Company Name (Not Listed)" name="otherPrimaryInsuranceCompanyName"
          onchange={handleInputChange} value={dataObj.otherPrimaryInsuranceCompanyName} required></lightning-input>
      </div>
      <div class="col-sm-4">
        <lightning-input type="text" label={medicareOrMemberLabel} name="memberId" onchange={handleInputChange}
          value={dataObj.memberId} pattern={memberIdValidationRegex}
          message-when-pattern-mismatch="Please provide a valid member id." onkeyup={changeMemberIdToUppercase}
          maxlength={memberIdLength} required></lightning-input>
      </div>
      <div class="col-sm-6">
        <lightning-input type="text" label="Group Number" name="groupNumber" onchange={handleInputChange}
          value={dataObj.groupNumber} required={isGroupNumberRequired}></lightning-input>
      </div>
      <div class="col-sm-6">
        <lightning-input type="text" label="Group Name" name="groupName" onchange={handleInputChange}
          value={dataObj.groupName}></lightning-input>
      </div>
    </div>
    <div class="section-header">
      <h3 class="section-title">Patient Information</h3>
    </div>
    <div class="row form-section">
      <div class="col-sm-4">
        <lightning-combobox name="relationToPolicyHolder" label="Relation to PolicyHolder"
          value={dataObj.relationToPolicyHolder} placeholder="Select Relation To PolicyHolder"
          options={relationToPolicyHolderOptions} onchange={handleInputChange} required>
        </lightning-combobox>
      </div>
    </div>
    <div class="section-header">
      <h3 class="section-title">Policyholder Information</h3>
    </div>
    <div class="row form-section p-b-md">
      <div class="col-sm-4">
        <lightning-input type="text" label="Policyholder Last Name" name="policyholderLastName"
          onchange={handleInputChange} value={dataObj.policyholderLastName} required></lightning-input>
      </div>
      <div class="col-sm-4">
        <lightning-input type="text" label="Policyholder First Name" name="policyholderFirstName"
          onchange={handleInputChange} value={dataObj.policyholderFirstName} required></lightning-input>
      </div>
      <div class="col-sm-4">
        <lightning-input type="text" label="Policyholder Middle Name" name="policyholderMiddleName"
          onchange={handleInputChange} value={dataObj.policyholderMiddleName}></lightning-input>
      </div>
    </div>
  </template>
  <div class="section-header n_pat_his_spc">
    <h3 class="section-title">Patient History</h3>
  </div>
  <div class="row form-section p-b-md">
    <div class={dynamicCSS1stdRow}>
      <lightning-combobox name="firstTest" label="First Test" options={YesNoUnKnwOptions} onchange={handleInputChange}
        value={dataObj.firstTest} required>
      </lightning-combobox>
    </div>
    <div class={dynamicCSS1stdRow}>
      <lightning-input type="text" label="Patient occupation" name="parentOccupation" value={dataObj.parentOccupation}
        onchange={handleInputChange} required>
      </lightning-input>
    </div>
    <div class="col-sm-4" if:true={showResidencyType}>
      <lightning-combobox name="residencyType" label="Patient Residency Type" value={dataObj.residencyType}
        placeholder="Patient Residency Type" options={PatientResidencyType} onchange={handleInputChange}
        required={showResidencyType}>
      </lightning-combobox>
    </div>
    <!--    <div class="col-sm-4">
            <lightning-combobox name="empHealthCare" label="Employed in healthcare" options={YesNoUnKnwOptions}
                type="radio" onchange={handleInputChange} value={dataObj.empHealthCare}>
            </lightning-combobox>
        </div> -->
    <div class={dynamicCSS2ndRow}>
      <div class="slds-form__item horizontal-radio">
        <lightning-radio-group name="whereYouLive" label="Are you associated with a high risk setting ?"
          options={YesNoUnKnwOptions} type="radio" onchange={handleAppointmentInputChange} value={dataObj.whereYouLive}
          required>
        </lightning-radio-group>
      </div>
    </div>
    <div class="col-sm-4" if:true={showHighRisk}>
      <lightning-combobox name="empHighRisk" label="Employed in high risk setting" value={dataObj.empHighRisk}
        placeholder="Employed in high risk setting" options={EmployedinhighRisk} onchange={handleInputChange}
        required={secondRowRequired}>
      </lightning-combobox>
    </div>

    <div class={dynamicCSS3nrdRow}>
      <div class="slds-form__item horizontal-radio">
        <lightning-radio-group name="ifSymptomatic" label="Are you Symptomatic?" options={YesNoUnKnwOptions}
          type="radio" onchange={handleAppointmentInputChange} value={dataObj.ifSymptomatic} required>
        </lightning-radio-group>
      </div>
    </div>
    <!--   <div class="col-sm-4">
            <lightning-combobox name="Symptomatic" label="Symptomatic for disease" options={YesNoUnKnwOptions}
                 onchange={handleInputChange} value={dataObj.Symptomatic}>
            </lightning-combobox>
        </div> -->

    <div class={dynamicCSS3nrdRow}>
      <div class="slds-form__item horizontal-radio">
        <lightning-radio-group name="residentSetting"
          label="Resident Congregate Setting (Nursing Homes, Group Homes, etc.)" options={YesNoUnKnwOptions}
          onchange={handleInputChange} value={dataObj.residentSetting} required>
        </lightning-radio-group>
      </div>
    </div>

    <div class="col-sm-4" if:true={isSymptomatic}>
      <lightning-input type="date" name="illnessDate" style="min-width: 230px" max={todayDate}
        label="Illness onset date" onchange={handleInputChange} value={dataObj.illnessDate} required={thirdRowRequired}>
      </lightning-input>
    </div>

    <div class="col-sm-12">
      <div class="slds-form__item horizontal-radio">
        <lightning-radio-group name="inContactWithpositiveCase"
          label="Have you been in direct contact with a Positive Case in the last 2-14 days?" options={onlyYesNoOptions}
          type="radio" onchange={handleAppointmentInputChange} value={dataObj.inContactWithpositiveCase} required>
        </lightning-radio-group>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="slds-form__item horizontal-radio">
        <lightning-radio-group name="isTestRequiredByEmp" label="Is your employer requiring a test today?"
          options={onlyYesNoOptions} type="radio" onchange={handleAppointmentInputChange}
          value={dataObj.isTestRequiredByEmp} required>
        </lightning-radio-group>
      </div>
    </div>
    <div class="col-sm-12" if:true={askReasonForTest}>
      <lightning-combobox name="reasonForTest" label="What is the reason for your test today?"
        options={testReasonsOptions} onchange={handleInputChange} value={dataObj.reasonForTest} required>
      </lightning-combobox>
    </div>
    <div class="col-sm-4">
      <lightning-combobox name="Pregnant" label="Pregnant" options={pregnantOptions} onchange={handleInputChange}
        value={dataObj.Pregnant} required>
      </lightning-combobox>
    </div>
    <!-- <div class="col-sm-4">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="verbalConsent" label="Verbal Consent" options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.verbalConsent} required>
                </lightning-radio-group>
            </div>
        </div> -->

    <div class="col-sm-6" if:true={isSymptomatic}>
      <!-- <div style="font-weight: bold;">Disease symptoms</div> -->
      <lightning-dual-listbox name="diseaseSymptoms" label="Disease symptoms" source-label="Available"
        selected-label="Selected" options={diseaseSymptoms} value={selectedValues} onchange={handleInputChange}
        required={thirdRowRequired}></lightning-dual-listbox>
    </div>
  </div>

  <div class="slds-form-element slds-p-bottom_medium">
    <div class="slds-form-element__control">
      <lightning-input data-field="scheduled" name="scheduled" id="scheduled" type="checkbox"
        label="Appointment Scheduled" value={dataObj.scheduled} checked onchange={handleInputChange} disabled>
      </lightning-input>
    </div>
  </div>
</template>