<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="slds-form form-section">

        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="hadNasalSwab"
                    label="Did you have a nasal swab to test for SARS-CoV-2 (also called COVID-19)?"
                    options={yesNoOptions} type="radio" onchange={handleInputChange} value={dataObj.hadNasalSwab}
                    required>
                </lightning-radio-group>
            </div>
        </div>
        <template if:true={testedForCovid}>
            <div class="slds-form__row">
                <div class="slds-form__item horizontal-radio">
                    <lightning-input type="date" name="dateYouWereTested"
                        label="Approximately what date were you tested?" onchange={handleInputChange}
                        value={dataObj.dateYouWereTested} max={todayDate}>
                    </lightning-input>
                </div>
            </div>
            <div class="slds-form__row">
                <div class="slds-form__item horizontal-radio">
                    <lightning-combobox name="testResult" label="What was your test result?" value={dataObj.testResult}
                        placeholder="Select Progress" options={options} onchange={handleInputChange}>
                    </lightning-combobox>
                </div>
            </div>
        </template>

        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="inContactWithDiagnosedPerson"
                    label="Have you had contact with anyone with diagnosed (laboratory confirmed) SARS-CoV-2 infection (also called COVID-19) while they were sick or in the three days before they became sick?"
                    options={yesNoOptions} type="radio" onchange={handleInputChange} style="width: 100%;"
                    value={dataObj.inContactWithDiagnosedPerson} required>
                </lightning-radio-group>
            </div>
        </div>
        <template if:true={showLastDateOfContact}>
            <div class="slds-form__row">
                <div class="slds-form__item horizontal-radio">
                    <lightning-input type="date" name="lastDateOfContact" label="what was the last date of contact?"
                        onchange={handleInputChange} value={dataObj.lastDateOfContact} max={todayDate}> 
                    </lightning-input>
                </div>
            </div>
        </template>
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="inContactWithCovidPositive"
                    label="Have you had contact with anyone who has been in direct contact with someone with laboratory confirmed SARS-CoV-2/COVID-19 infection?"
                    options={yesNoOptions} type="radio" onchange={handleInputChange} style="width: 100%;"
                    value={dataObj.inContactWithCovidPositive} required>
                </lightning-radio-group>
            </div>
        </div>
    </div>
</template>