.card-heading {
  background: rgba(0, 38, 60, 0.09);
}

.heading-container {
  padding: 0 2rem;
  background: #f7f7f7;
  padding: 1.5rem;
  margin: -1rem -1.5rem;
  position: relative;
  display: flex;
}
.button-container {
  padding: 0 2rem;
}
.paginator-container {
  margin-top: 1.5rem;
}
.combo-box {
  width: max-content;
}
.card-heading {
  padding: 1.5rem 1.5rem;
  margin: -1.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  position: relative;
}

.helper-section {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
}

.instruction-heading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.instruction-heading__link {
  color: blue;
  text-decoration: underline;
}
.instruction-text {
  font-weight: 500;
}

.instruction-list {
  list-style: disc;
  padding: 1rem 2rem;
}

.page-header {
  padding-bottom: 0rem;
}

.upload-btn {
  margin-bottom: 1rem;
}

.filename {
  font-size: 1.2rem;
  color: #54a031;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #54a03124;
  border: 1px solid #54a031;
  border-radius: 3px;
}

.fileremove {
  float: right;
}