<template>
  <!-- Spinner component -->
  <div if:true={showSpinner}>
    <div class="backdrop">
      <div class="spinner">
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
      </div>
    </div>
  </div>
  <c-oktc-left-navigation selected-tab="upload">
    <div slot="body">
      <div class="main-container slds-p-around_medium app-content">
        <div class="card-heading">
          <h1>Upload Contacts</h1>
        </div>
        <lightning-tabset active-tab-value="">
          <template if:true={isAntiBody}>
            <lightning-tab
              onactive={handleActive}
              label="Antibody Testing"
              value="Antibody Testing"
            >
              <div class="page-header">
                <p class="instruction-heading">
                  <strong>Instruction of Uploading Antibody Contacts</strong>
                </p>
                <div>
                  <h4>
                    Please click&nbsp;
                    <a
                      onclick={downloadCSVFile}
                      class="instruction-heading__link"
                    >
                      here
                    </a>
                    &nbsp;to download the sample file for Uploading contacts.
                  </h4>
                </div>
                <ul class="instruction-list">
                  <li>
                    Name and Email are required fields and should be uploaded
                    with each contact record.
                  </li>
                  <li>
                    Date of Birth should be uploaded in MM-DD-YYYY format.
                  </li>
                  <li>
                    Gender field will be uploaded with one of the following
                    values (Male/ Female/ Other).
                  </li>
                  <li>
                    Race field for Contact should be updated with one of the
                    following values (American Indian/Alaska Native, Asian,
                    Black/African American, Native Hawaiian/Other Pacific
                    Islander, White, Other)
                  </li>
                </ul>
              </div>

              <div class="card-content">
                <br />
                <lightning-input
                  variant="label-hidden"
                  name="file uploader"
                  onchange={handleFileChange}
                  type="file"
                  multiple
                  class="upload-btn"
                >
                </lightning-input>
                <div class="filename" if:true={showFileName}>
                  File: <strong>{fileName}</strong> has been added successfully.
                  <lightning-icon
                    icon-name="utility:delete"
                    alternative-text="Error!"
                    variant="error"
                    title="error variant small"
                    size="small"
                    class="fileremove"
                    onclick={handleFileDelete}
                  ></lightning-icon>
                </div>
                <div class="slds-form-element slds-p-bottom_medium">
                  <div class="slds-form-element__control">
                    <lightning-input
                      data-field="email"
                      name="emailOpt"
                      id="emailOpt"
                      type="checkbox"
                      label="Receive communication via Email"
                      value={emailOpt}
                      onchange={handleChange}
                    ></lightning-input>
                  </div>
                </div>
                <div class="slds-form-element slds-p-bottom_medium">
                  <div class="slds-form-element__control">
                    <lightning-input
                      data-field="sms"
                      name="smsOpt"
                      id="smsOpt"
                      type="checkbox"
                      label="Receive communication via SMS Text Message"
                      value={smsOpt}
                      class="slds-form-element__label"
                      onchange={handleChange}
                    ></lightning-input>
                  </div>
                </div>
                <div>
                  <lightning-button
                    label="Save"
                    onclick={handleSave}
                    variant="brand"
                  ></lightning-button>
                </div>
              </div>
            </lightning-tab>
          </template>
          <template if:true={isPcr}>
            <lightning-tab
              onactive={handleActive}
              label="PCR Testing"
              value="PCR Testing"
            >
              <div class="page-header">
                <p class="instruction-heading">
                  <strong>Instruction of Uploading PCR Contacts</strong>
                </p>
                <div>
                  <h4>
                    Please click&nbsp;
                    <a
                      onclick={downloadCSVFile}
                      class="instruction-heading__link"
                      >here</a
                    >&nbsp; to download the sample file for Uploading contacts.
                  </h4>
                </div>
                <ul class="instruction-list">
                  <li>
                    All fields present in template are required except Email and
                    Mobile and should be uploaded with each contact record.
                  </li>
                  <li>Date of Birth should be uploaded in MM-DD-YYYY format</li>
                  <li>
                    Gender field will be uploaded with one of the following
                    values (Ambiguous, Female, Male, Not Applicable, Other,
                    Unknown).
                  </li>
                  <li>
                    Race field should be updated with one of the following
                    values (Asian, Black or African American, Native Hawaiian or
                    Other Pacific Islander, American Indian or Alaska Native,
                    Other Race, White)
                  </li>
                  <li>
                    Ethnicity field should be updated with one of the following
                    values (Hispanic, Non Hispanic, Unknown)
                  </li>
                  <li>
                    Symptomatic and "Direct Contact with Positive Case” fields
                    should be updated with Yes or No for each contact record.
                  </li>
                </ul>
              </div>

              <div class="card-content">
                <br />
                <lightning-input
                  variant="label-hidden"
                  name="file uploader"
                  onchange={handleFileChange}
                  type="file"
                  multiple
                  class="upload-btn"
                >
                </lightning-input>
                <div class="filename" if:true={showFileName}>
                  File: <strong>{fileName}</strong> has been added successfully.
                  <lightning-icon
                    icon-name="utility:delete"
                    alternative-text="Error!"
                    variant="error"
                    title="error variant small"
                    size="small"
                    class="fileremove"
                    onclick={handleFileDelete}
                  ></lightning-icon>
                </div>
                <div class="slds-form-element slds-p-bottom_medium">
                  <div class="slds-form-element__control">
                    <lightning-input
                      data-field="email"
                      name="emailOpt"
                      id="emailOpt1"
                      type="checkbox"
                      label="Receive communication via Email"
                      value={emailOpt}
                      onchange={handleChange}
                    ></lightning-input>
                  </div>
                </div>
                <div class="slds-form-element slds-p-bottom_medium">
                  <div class="slds-form-element__control">
                    <lightning-input
                      data-field="sms"
                      name="smsOpt"
                      id="smsOpt1"
                      type="checkbox"
                      label="Receive communication via SMS Text Message"
                      value={smsOpt}
                      class="slds-form-element__label"
                      onchange={handleChange}
                    ></lightning-input>
                  </div>
                </div>
                <div>
                  <lightning-button
                    label="Save"
                    onclick={handleSave}
                    variant="brand"
                  ></lightning-button>
                </div>
              </div>
            </lightning-tab>
          </template>
          <template if:true={isRapid}>
            <lightning-tab
              onactive={handleActive}
              label="Rapid Testing"
              value="Rapid Testing"
            >
              <div class="page-header">
                <p class="instruction-heading">
                  <strong>Instruction of Uploading Rapid Contacts</strong>
                </p>
                <div>
                  <h4>
                    Please click&nbsp;
                    <a
                      onclick={downloadCSVFile}
                      class="instruction-heading__link"
                      >here</a
                    >&nbsp; to download the sample file for Uploading contacts.
                  </h4>
                </div>
                <ul class="instruction-list">
                  <li>
                    All fields present in template are required except Email and
                    Mobile and should be uploaded with each contact record.
                  </li>
                  <li>Date of Birth should be uploaded in MM-DD-YYYY format</li>
                  <li>
                    Gender field will be uploaded with one of the following
                    values (Ambiguous, Female, Male, Not Applicable, Other,
                    Unknown).
                  </li>
                  <li>
                    Race field should be updated with one of the following
                    values (Asian, Black or African American, Native Hawaiian or
                    Other Pacific Islander, American Indian or Alaska Native,
                    Other Race, White)
                  </li>
                  <li>
                    Ethnicity field should be updated with one of the following
                    values (Hispanic, Non Hispanic, Unknown)
                  </li>
                  <li>
                    Symptomatic and "Direct Contact with Positive Case” fields
                    should be updated with Yes or No for each contact record.
                  </li>
                </ul>
              </div>

              <div class="card-content">
                <br />
                <lightning-input
                  variant="label-hidden"
                  name="file uploader"
                  onchange={handleFileChange}
                  type="file"
                  multiple
                  class="upload-btn"
                >
                </lightning-input>
                <div class="filename" if:true={showFileName}>
                  File: <strong>{fileName}</strong> has been added successfully.
                  <lightning-icon
                    icon-name="utility:delete"
                    alternative-text="Error!"
                    variant="error"
                    title="error variant small"
                    size="small"
                    class="fileremove"
                    onclick={handleFileDelete}
                  ></lightning-icon>
                </div>
                <div class="slds-form-element slds-p-bottom_medium">
                  <div class="slds-form-element__control">
                    <lightning-input
                      data-field="email"
                      name="emailOpt"
                      id="emailOpt2"
                      type="checkbox"
                      label="Receive communication via Email"
                      value={emailOpt}
                      onchange={handleChange}
                    ></lightning-input>
                  </div>
                </div>
                <div class="slds-form-element slds-p-bottom_medium">
                  <div class="slds-form-element__control">
                    <lightning-input
                      data-field="sms"
                      name="smsOpt"
                      id="smsOpt2"
                      type="checkbox"
                      label="Receive communication via SMS Text Message"
                      value={smsOpt}
                      class="slds-form-element__label"
                      onchange={handleChange}
                    ></lightning-input>
                  </div>
                </div>
                <div>
                  <lightning-button
                    label="Save"
                    onclick={handleSave}
                    variant="brand"
                  ></lightning-button>
                </div>
              </div>
            </lightning-tab>
          </template>
        </lightning-tabset>
      </div>
    </div>
  </c-oktc-left-navigation>
</template>