<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{heading}</h2>
            </header>
            <div class="slds-modal__content modal__content-height slds-p-around_medium modal-body"
                id="modal-content-id-1">
                <template if:true={isComplete}>
                    <template if:true={pcrTest}>
                    <span> Are you sure you want to mark this appointment as complete? </span>
                    <br />
                    </template>
                    <template if:true={rapidTest}>
                        <template if:true={isResultSubmitted}>
                            <span> Are you sure you want to mark this appointment as complete? </span>
                        </template>
                        <template if:false={isResultSubmitted}>
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_6-of-12">
                                    <lightning-combobox required name="result" label="Test Results" placeholder="Select Result"
                                    value={selectedResult} options={result} onchange={handleInput} ></lightning-combobox>
                                </div>
                                <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_6-of-12">
                                    <lightning-combobox required name="testName" label="Test Name" placeholder="Select Test Name"
                                    value={selectedTestName} options={testNameOptions} onchange={handleInput} ></lightning-combobox>
                                </div>
                                <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_12-of-12">
                                    <lightning-textarea name="notes" label="Notes" value={rapidNotes} onchange={handleInput} ></lightning-textarea>           
                                </div>                      
                            </div>

                        </template>
                    </template>
                    <template if:true={antibodyTest}>
                        <p>Please scan or enter barcode and click "Complete" to complete and "Cancel" to go back.</p>
                         <br />
                        <lightning-input type="text" label="Barcode ID" value={barcodeId} onchange={handlebarcodechange} required></lightning-input>        
                    </template>
                </template>
                <template if:true={isAddAppointment}>
                    <span class=""></span>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-p-right_small slds-size_1-of-1 slds-large-size_6-of-12">
                            <lightning-combobox required name="testingType" label="Select the Testing Type" placeholder="Select Type"
                            value={selectedTestingType} options={testingTypeOptions} onchange={handleInput} ></lightning-combobox>
                        </div>
                    </div>
                </template>
                <template if:true={isCancelled}>
                    <span class="">Are you sure you want to cancel your appointment? </span>
                    <br />
                    <br />
                    <p>Click "Yes" to cancel and "No" to go back.</p>
                    <br />
                    <lightning-input type="text" label="Enter reason for cancellation" name="cancelationReason" value={reason} required onchange={handleInputChange}></lightning-input>
                </template>
                <template if:true={isInProgress}>
                    <span class="">Are you sure you want to move this appointment to In Progress? </span>
                    <lightning-input type="text" label="Enter reason for in progress" name="cancelationReason" value={reason} onchange={handleInputChange}></lightning-input>
                </template>
                <template if:true={isRescheduled}>
                    <span class="">Are you sure you want to Re-Schedule this appointment? </span>
                    <br />
                    <br />
                    <p>Click "Yes" to Reschedule and "Cancel" to go back.</p>
                    <br />
                    <lightning-input type="text" label="Enter reason for rescheduling" name="cancelationReason" value={reason} onchange={handleInputChange}></lightning-input>
                </template>

            </div>
            <footer class="slds-modal__footer">
                <template if:true={isComplete}>
                    <template if:true={rapidTest}>
                        <lightning-button if:true={isResultSubmitted} label="Yes" variant="brand" onclick={completeAppointment}
                        style="margin-right: 10px;"></lightning-button>
                        <lightning-button if:false={isResultSubmitted} label="Submit" variant="brand" onclick={submitRapidResult}
                        style="margin-right: 10px;"></lightning-button>
                    </template>
                    <lightning-button if:false={rapidTest} label="Complete" variant="brand" onclick={completeAppointment}
                    style="margin-right: 10px;"></lightning-button>
                    
                </template>
                <lightning-button if:true={isAddAppointment} label="Book Appointment" variant="brand" onclick={addAppointment}
                    style="margin-right: 10px;"></lightning-button>
                <template if:true={antibodyTest}>
                    <lightning-button if:true={isComplete} label="Scan Barcode" variant="brand" onclick={completeAppointmentWithBarcode}
                        style="margin-right: 10px;"></lightning-button>
                </template>
                <lightning-button if:true={isRescheduled} label="Yes" variant="brand" onclick={rescheduleAppointment}
                    style="margin-right: 10px;"></lightning-button>
                <lightning-button if:true={isInProgress} label="Yes" variant="brand" onclick={inProgressAppointment}
                style="margin-right: 10px;"></lightning-button>
                <lightning-button if:true={isCancelled} label="Yes" variant="brand" onclick={cancelAppointment}
                style="margin-right: 10px;"></lightning-button>
                <lightning-button if:false={isCancelled} label="Cancel" variant="neutral" onclick={handleCloseModal}>
                </lightning-button>
                <lightning-button if:true={isCancelled} label="No" variant="neutral" onclick={handleCloseModal}>
                </lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
</template>