<template>
            <ol class="timeline">
                <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Personal Information</li>
                <li class={step2CSS} value="2" steplabel="2" onclick={handleUserClicks}>Symptoms</li>
                <li class={step3CSS} value="3" steplabel="3" onclick={handleUserClicks}>Prior Exposure</li>
            </ol>
    
</template>