<template>  
    <template if:true={hidePersonalInfo}>
        <template if:true={editProfileMode}>
            <ol class="timeline">
                <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Personal Information</li>
            </ol>
        </template>
        <template if:false={editProfileMode}>
            <ol class="timeline">
                <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Appointment Scheduling</li>
            </ol>
        </template>
    </template>
</template>