<template>
    <div class="container_spacing">
        <div class="slds-grid slds-wrap mobile-block">
            <div class="slds-col slds-size_2-of-12 mobile-full-width sidenav-margin">
                <div>
                    <lightning-vertical-navigation selected-item="recent">
                        <lightning-vertical-navigation-section>
                            <button class={homeTabCss} onclick={navigateToPage} data-navigatepage="dashboard">
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="standard:dashboard_ea" size="xx-small">
                                        </lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                        Dashboard
                                    </div>
                                </div>
                            </button>
                            <button class={testingSampletabCss} onclick={navigateToPage}
                                data-navigatepage="testingSample">
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:identity" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                        Testing Sample
                                    </div>

                                </div>
                            </button>
                            <button class={uploadResultCss} onclick={navigateToPage}
                                data-navigatepage="uploadResult">
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:identity" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                        Upload Results
                                    </div>

                                </div>
                            </button>
                            <button class={downloadResultCss} onclick={navigateToPage}
                            data-navigatepage="downloadResult">
                            <div class="slds-grid slds-gutters pointer-event-none">
                                <div class="slds-col slds-size_1-of-12">
                                    <lightning-icon icon-name="utility:download" size="xx-small"></lightning-icon>
                                </div>
                                <div class="slds-col slds-size_11-of-12">
                                    Download Results
                                </div>

                            </div>
                        </button>
                        </lightning-vertical-navigation-section>
                    </lightning-vertical-navigation>
                </div>
            </div>
            <div class="slds-col slds-size_10-of-12 side_space mobile-full-width">
                <slot name="body"></slot>
            </div>
        </div>
    </div>

    <!--<div class="slds-m-top_large text-right newfooter" if:true={showFooter}>
        <p>{footerText}</p>
    </div>-->
</template>