<template>
    <lightning-combobox
            name="progress"
            label={label}
            value={value}
            placeholder="Select Time"
            options={timeOptions}
            onchange={handleChange} if:false={isRequired}></lightning-combobox>
    <lightning-combobox
            name="progress"
            label={label}
            value={value}
            placeholder="Select Time"
            options={timeOptions}
            onchange={handleChange} if:true={isRequired} required> </lightning-combobox>
</template>