:host {
    padding: 2rem 1rem;
    display: block;
}

.site-header {
    padding: 2rem;
    background: white;
    margin: 0 1rem;
    box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
    text-align: left;
}

.site-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.site-header .address {
    font-size: 14px;
    color: #777;
}

.site-header .icon {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 0 2px #777;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    background: #eee;
}


/* .controls {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10%, -70%);
} */

.time-input {
    padding: 0 .5rem;
}

.icon-section--darkgray {
    background: #454547;
}

.icon {
    position: relative;
}

.icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-header_info-section {
    display: flex;
}

.detail {
    width: 75%;
    word-break: break-all;
}

.btn-align {
    align-self: flex-end;
}

@media (max-width: 767px) {
     :host {
        padding: 0rem;
        margin-bottom: 2rem;
    }
}