.icon-container {
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 0 2px #777;
  border-radius: 3px;
  background: #eee;
  padding: 2px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

.community-user {
  background: rgb(217, 255, 223);
  border-radius: 0;
  margin-right: 1rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .sm-m-l {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .icon-container {
    margin-bottom: 1rem;
  }
}
.site-header {
  padding: 2rem;
  background: white;
  margin: 1rem;
  display: flex;
  box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
  text-align: left;
  margin-bottom: 0rem !important;
}

.site-name {
  font-size: 1.25rem;
  font-weight: 500;
}

.site-header .address {
  font-size: 14px;
  color: #777;
}

.site-header .icon {
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0 0 2px #777;
  border-radius: 0.5rem;
  margin-right: 1.5rem;
  background: #eee;
}

.icon-yellow {
  background: #ea8c00 !important;
}

.icon-green {
  background: #54a031 !important;
}

.controls {
  text-align: right;
  right: 2rem;
  position: absolute;
  padding: 0.2rem 0 0 !important;
}

.adr-link {
  color: #007cc6;
}