<template>
    <div class={cardStyle}>
        <div class="d-sm-flex align-items-center">
            <div class="col-auto">
                <div class="icon-container">
                    <lightning-icon icon-name="utility:user" alternative-text="Connected" size="large"
                        title="large size">
                    </lightning-icon>
                </div>
            </div>
            <div class="col-auto">
                <div class="detail">
                    <div class="site-name">{patient.name}</div>
                    <div class="address">{patient.streetAddress}</div>
                    <div class="address">{patient.address}</div>
                </div>
            </div>
            <div class="col-auto sm-m-l">
                <strong if:false={patient.isdependent}>Primary</strong>
            </div>
        </div>

    </div>
</template>