<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oktc-left-navigation selected-tab="appointments">
        <div slot="body">
            <div class="card-heading slds-align_absolute-center slds-p-around_small btn-nav">
                <template if:true={isPcr}>
                    <lightning-button label="PCR Testing" disabled={pcrTest} onclick={handleTypeSelection} name="pcr" variant="brand" style="margin-right: 10px;"></lightning-button>
                </template>
                <template if:true={isRapid}>
                    <lightning-button label="Rapid Testing" disabled={rapidTest} onclick={handleTypeSelection}  name ="rapid" variant="brand" style="margin-right: 10px;"></lightning-button>
                    <template if:true={rapidTest}>
                        <hr/>
                    </template>
                </template>
                <template if:true={isAnti}>
                    <lightning-button label="Antibody Testing" disabled={antibodyTest} onclick={handleTypeSelection} name="antibody" variant="brand" style="margin-right: 10px;"></lightning-button>
                </template>
           </div>
            <lightning-tabset active-tab-value="">
                <lightning-tab label="Completed" if:false={isMobile}>
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="4" columns={completedColumns}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                            where-clause={whereClause4}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                            reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                            show-checkbox={antibodyTest} checkbox-button-label="Assign" norecord-message="No Appointments Found."
                            checkbox-button-class=" slds-m-left_x-small table-button-class " checkbox-button-variant="brand"
                            show-all-paginator-buttons=true onpaginatoraction={handlePaginatorAction}
                            onresetflag={resetFlag} oncheckboxdata={getSelectedIds}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab>
                <lightning-tab label="Scheduled" value="scheduled">
                    <!-- <c-oktcscheduledappointmentslist></c-oktcscheduledappointmentslist> -->
                    <template if:true={showPaginator}>
                        <template if:true={antibodyTest}>
                            <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columnsAntibody}
                                placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC" where-clause={whereClause}
                                table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                                show-checkbox=true checkbox-button-label="Cancel Appointments"   checkbox-button-class=" slds-m-left_x-small table-button-class "
                                checkbox-button-variant="brand" oncheckboxdata={getSelectedIds}
                                reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                                norecord-message="No Appointments Found." show-all-paginator-buttons=true
                                onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                        </template>
                        <template if:false={antibodyTest}>
                            <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns}
                                placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC" where-clause={whereClause}
                                table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                                show-checkbox=true checkbox-button-label="Cancel Appointments"   checkbox-button-class=" slds-m-left_x-small table-button-class "
                                checkbox-button-variant="brand" oncheckboxdata={getSelectedIds}
                                reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                                norecord-message="No Appointments Found." show-all-paginator-buttons=true
                                onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                        </template>
                    </template>
                </lightning-tab>
                <template if:true={antibodyTest}>
                    <lightning-tab label="Unscheduled" if:false={isMobile}>
                        <template if:true={showPaginator}>
                            <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={unscheduledColumns}
                                placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                                where-clause={whereClause2}
                                table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table--stacked"
                                reset-table={resetTable2} reload-table={reloadTable2} header="Add Properties"
                                norecord-message="No Appointments Found." show-all-paginator-buttons=true
                                onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                        </template>
                    </lightning-tab>
                </template>
                 <lightning-tab label="In Progress">
                    <!-- <c-oktcscheduledappointmentslist></c-oktcscheduledappointmentslist> -->
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={inProgressColumns}
                        placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC" where-clause={whereClause5}
                        table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                        show-checkbox={antibodyTest} checkbox-button-label="Cancel Appointments"   checkbox-button-class=" slds-m-left_x-small table-button-class "
                        checkbox-button-variant="brand" oncheckboxdata={getSelectedIds}
                        reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                        norecord-message="No Appointments Found." show-all-paginator-buttons=true
                        onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                </template>
                </lightning-tab>
                <lightning-tab label="Cancelled">
                    <!-- <c-oktcscheduledappointmentslist></c-oktcscheduledappointmentslist> -->
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={cancelledColumns}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC" where-clause={whereClause6}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                            show-checkbox={showCancelButton} checkbox-button-label="Cancel Appointments"   checkbox-button-class=" slds-m-left_x-small table-button-class "
                            checkbox-button-variant="brand" oncheckboxdata={getSelectedIds}
                            reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                            norecord-message="No Appointments Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab>
                <!-- <lightning-tab label="Eligible Appointments" if:false={isMobile}>
                    <template if:true={showPaginator}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns3}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                            where-clause={whereClause3}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            reset-table={resetTable3} reload-table={reloadTable3} header="Add Properties"
                            norecord-message="No Appointments Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                </lightning-tab> -->

            </lightning-tabset>
            <template if:true={showCalendar}>
                <c-ok-citizen-schedule-appointment testing-type={selectedTestingType} onpaginatoraction={handlePaginatorAction}
                show-confirmation-on-reschedule ={showConfirmationOnReschedule} recordid={appointmentId} selectvalue={accountId}
                onclose={hideModal} is-antibody={antibodyTest} new-appointment={newAppointment} oncreate={handleSwitchTabs}>
                </c-ok-citizen-schedule-appointment>
            </template>
            <template if:true={showConfirmation}>
                <c-oktccompleteconfirmation reschedule-data={data} type={type} appointment-id={appointmentId} appointment-list={selectedAppointmentIds}
                is-bulk={isBulk} onclose={hideModal} antibody-test={antibodyTest} rapid-test={rapidTest} pcr-test={pcrTest} onaddappointment={addAppointment}>
                </c-oktccompleteconfirmation>
            </template>
            <template if:true={showBatchModal}>
                <c-oktc-assign-batch-modal type={type} heading="Select Lab" appointment-list={selectedAppointmentIds}
                    appointment-id={appointmentId} onclosebatch={hideBatchModal}>
                </c-oktc-assign-batch-modal>
            </template>
            <template if:true={showInProgressModal}>
                <c-ok-covid-in-progress-appointment appointment-id={appointmentId} can-change-type="true"
                onclose={hideModal} current-test-type={selectedTestingType} test-type={testType}></c-ok-covid-in-progress-appointment>
            </template>
        </div>
    </c-oktc-left-navigation>
</template>