<template>
    <template if:false={hideStep1}>
        <template if:false={hideStep}>
            <ol class="timeline">
                <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Consent</li>
                <li class={step2CSS} value="2" steplabel="2" onclick={handleUserClicks}>Personal Information</li>
                <li class={step3CSS} value="3" steplabel="3" onclick={handleUserClicks}>Symptoms</li>
                <li class={step4CSS} value="4" steplabel="4" onclick={handleUserClicks}>Prior Exposure</li>
                <li class={step5CSS} value="5" steplabel="5" onclick={handleUserClicks}>Appointment Preference</li>
            </ol>
        </template>

        <template if:true={hideStep}>
            <ol class="timeline">
                <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Consent</li>
                <li class={step2CSS} value="2" steplabel="2" onclick={handleUserClicks}>Personal Information</li>
                <li class={step3CSS} value="3" steplabel="3" onclick={handleUserClicks}>Prior Exposure</li>
                <li class={step4CSS} value="4" steplabel="4" onclick={handleUserClicks}>Appointment Preference</li>
            </ol>
        </template>
    </template>
    <template if:true={hideStep1}>
        <ol class="timeline">
            <li class={step2CSS} value="1" steplabel="1" onclick={handleUserClicks}>Personal Information</li>
            <li class={step3CSS} value="2" steplabel="2" onclick={handleUserClicks}>Symptoms</li>
            <li class={step4CSS} value="3" steplabel="3" onclick={handleUserClicks}>Prior Exposure</li>
        </ol>
    </template>
</template>