<template>
    <div class="main-container slds-p-around_medium app-content">
        <div class="card-heading">
            <h1>{heading}</h1>
            <div class="legend">
                <span class="legend-color-green">&nbsp;</span><p>Available</p>
                <span class="legend-color-blue">&nbsp;</span><p>Selected</p>
            </div>
        </div>
        <div style="height:65vh; overflow:auto;">
            <template if:true={isAdmin}>
                <div class="slot-input">
                    <lightning-layout multiple-rows vertical-align="end">
                        <lightning-layout-item padding="around-small"  size="4" class="slot-picker">
                            <lightning-input type="number" required name="numSlot" label={appointmentFrequencyLabel} min="0" max="100" value={numOfSlot} onchange={handleSlotChange} ></lightning-input>
                        </lightning-layout-item>
                        <lightning-layout-item padding="around-small" size="4" class="slot-picker right-align"  alignment-bump = "right">
                                <lightning-button label="Create Roster" variant="brand" onclick={createRoaster} ></lightning-button>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
                <template if:true={accountId}>
                    <c-oktc-calendar accountid={accountId} start-time={startTime} end-time={endTime} ></c-oktc-calendar>
                </template>
            </template>
            <template if:false={isAdmin}>
                <template if:true={accountId}>
                    <c-ok-view-calendar accountid={accountId} start-time={startTime} end-time={endTime} ></c-ok-view-calendar>
                </template>
            </template>
        </div>
        <template if:true={isAdmin}>
        <div class="slds-p-top_small">
            <lightning-button if:true={accountId} label="Save" variant="brand" onclick={createSlots}></lightning-button>
        </div>
        </template>
    </div>
    <template if:true={showRoaster}>
        <c-ok-create-appointment-roaster accountid={accountId} onclose={hideModal}></c-ok-create-appointment-roaster>
    </template>
    <div if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>
</template>