<template>
    
    <ol class="timeline">
        <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Personal Information</li>
        <template if:false={editProfileMode}>
            <li class={step2CSS} value="2" steplabel="2" onclick={handleUserClicks}>Appointment Scheduling</li>
        </template>
    </ol>

</template>