<template>
    <div class="app-content center-align-card">
        <div class="backdrop" if:true={showSpinner}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="12" large-device-size="6">
                <div class="card-photo-cred">
                    <lightning-layout multiple-rows="true">
                        <lightning-layout-item size="12">
                            <img class="login-photo" src={customImage} />
                        </lightning-layout-item>
                        <lightning-layout-item size="12" class="slds-p-top_large">
                            <h1 class="slds-text-align_center slds-text-heading_medium">{portalName}</h1>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="12" large-device-size="6">
                <div class="card-right-content">
                    <div class="card-header page-header">
                        <div class="intro">Login</div>
                        <!-- <h1 class="page-title cred-title">Welcome back</h1> -->

                        <div class="slds-form-element slds-p-bottom_medium">
                            <template if:true={showError}>
                                <div class="error">{errorMessage}</div>
                            </template>
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>First Name</label>
                            <div class="slds-form-element__control">
                                <input type="text" name="username" placeholder="Enter First Name" required=""
                                    value={username} class="slds-input" onchange={nameChange} />
                            </div>
                        </div>
                        <div class="slds-form-element slds-p-bottom_medium">
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Email Address/Phone Number</label>
                            <div class="slds-form-element__control">
                                <input type="text" name='password' placeholder="Enter Email or Phone" required=""
                                    class="slds-input" value={password} onchange={passwordChange} />
                            </div>
                        </div>
                        <div class="slds-clearfix slds-p-bottom_medium">

                            <!-- <div class="slds-float_right">
                            <a href="#" onclick={navigateToForgotPassword}>Forgot Password</a>
                        </div> -->
                            <lightning-button label="&nbsp;&nbsp;Login&nbsp;&nbsp;" title="Neutral action"
                                onclick={doLogin} class="okpc-registration-button"></lightning-button>
                        </div>

                    </div>
                </div>
            </lightning-layout-item>
        </lightning-layout>

    </div>
</template>