<template>
    <template if:true={showDashboard}>
        <c-okcp-dashboard onaddmember={addMember}></c-okcp-dashboard>
    </template>
    <template if:false={showDashboard}>
        <div class="claim_form container_spacing">

            <div class="backdrop" if:true={showSpinner}>
                <div class="spinner">
                    <lightning-spinner alternative-text="Loading..."></lightning-spinner>
                </div>
            </div>

            <!-- Heading -->
            <!-- <div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium heading_header_registration">
                        <div class="container d-flex justify-space-between">
                            <h6>Form Header</h6>
                        </div>
                    </div> -->

            <div class="container">
                <div class="app-container slds-grid slds-gutters slds-wrap">
                    <div class="app-sidebar slds-col slds-size_1-of-1 slds-small-size_3-of-12">
                        <!-- Flow Steps -->
                        <!--<c-okcp-flow-steps current-step={currentStep} original-step={originalStep}
                            hide-step={hideStep3}>
                        </c-okcp-flow-steps>-->
                        <c-okcp-covid-flow-steps current-step={currentStep} original-step={originalStep}>
                        </c-okcp-covid-flow-steps>

                    </div>

                    <div class="app-content slds-size_1-of-1 slds-small-size_9-of-12 slds-m-bottom_large">
                        <template if:true={showConsent}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Consent</h1>
                                    <c-okpc-help-text help-text="Please provide your consent."></c-okpc-help-text>
                                </div>

                                <c-okcp-consent-page onconsentsave={consentSave} current-step={currentStep}
                                    is-dependent={isDependent}>
                                </c-okcp-consent-page>

                                <div class="controls slds-m-top_medium">
                                    <template if:true={isDependent}>
                                        <lightning-button variant="neutral" type="submit" label="Back to Dashboard"
                                        class="slds-m-right_xx-small"  name="back" onclick={navigateToDashboard}>
                                        </lightning-button>
                                    </template>
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToPersonalInfo}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                        <template if:true={showPersonalInformation}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Personal Information</h1>
                                    <c-okpc-help-text help-text={showPUA_Claimant_Profile_Help_Text}></c-okpc-help-text>
                                </div>
                                <c-okcp-contact-info current-step={currentStep} oncontactsave={saveContacts}
                                    is-dependent={isDependent} contact-id={contactId}></c-okcp-contact-info>
                                <div class="controls slds-m-top_medium">
                                    <!-- <template if:false={edit}> -->
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToConsent}>
                                    </lightning-button>
                                    <!-- <lightning-button variant="neutral" type="submit" label="Edit"
                                                    class="slds-m-right_xx-small" onclick={handleEdit}>
                                                </lightning-button> -->
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToInsurancePage}>
                                    </lightning-button>
                                    <!-- </template> -->
                                    <!-- <template if:true={edit}>
                                                <lightning-button variant="neutral" type="submit" label="Cancel"
                                                    class="slds-m-right_xx-small" onclick={handleCancel}>
                                                </lightning-button>
                                                <lightning-button variant="brand" type="submit" label="Save" onclick={handleSave}>
                                                </lightning-button>
                                            </template> -->
                                </div>
                            </div>
                        </template>

                        <template if:true={showInsurance}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Insurance Information</h1>
                                    <c-okpc-help-text help-text='Insurance companies are required to cover 100% of the cost of COVID-19 testing. Testing is free to you; however, it is important to provide your insurance information so that we can seek payment to cover our cost.'></c-okpc-help-text>
                                </div>
                                <c-okcp-insurance-info current-step={currentStep} oninsurancesave={saveInsuranceDetails}
                                    onupload={docUploaded} is-dependent={isDependent} contact-id={contactId} docs={docsUploaded}></c-okcp-insurance-info>
                                <div class="controls slds-m-top_medium">
                                    <!-- <template if:false={edit}> -->
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToPersonalInfo}>
                                    </lightning-button>
                                    <!-- <lightning-button variant="neutral" type="submit" label="Edit"
                                                    class="slds-m-right_xx-small" onclick={handleEdit}>
                                                </lightning-button> -->
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToPatientHistory}>
                                    </lightning-button>
                                    <!-- </template> -->
                                    <!-- <template if:true={edit}>
                                                <lightning-button variant="neutral" type="submit" label="Cancel"
                                                    class="slds-m-right_xx-small" onclick={handleCancel}>
                                                </lightning-button>
                                                <lightning-button variant="brand" type="submit" label="Save" onclick={handleSave}>
                                                </lightning-button>
                                            </template> -->
                                </div>
                            </div>
                        </template>

                        <template if:true={patientHistory}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Patient History</h1>
                                    <c-okpc-help-text help-text="Please provide information about your history.">
                                    </c-okpc-help-text>
                                </div>
                                <c-okcp-patient-history oncontactsave={patientHistorySave} current-step={currentStep}
                                    is-dependent={isDependent} contact-id={contactId}
                                    appointment-data-intake={appointmentDetails}>
                                </c-okcp-patient-history>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToInsurancePage}>
                                    </lightning-button>
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToAppointment}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                        <!--   <template if:true={showSymptoms}>
                            <div style="display: block">

                                <c-ok-covid-symptomspage onsymptomssave={saveSymptoms} current-step={currentStep}>
                                </c-ok-covid-symptomspage>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToPatientHistory}>
                                    </lightning-button>
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToAppointment}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                    -->
                        <!--   <template if:true={showSymptoms}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">CRITERIA FOR TESTING</h1>
                                    <c-okpc-help-text help-text="*Exclusion criteria/client does not qualify for this round of testing. ">
                                    </c-okpc-help-text>
                                </div>

                                <c-okpc-symptoms-page onsymptomssave={saveSymptoms} current-step={currentStep}>
                                </c-okpc-symptoms-page>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToPersonalInfo}>
                                    </lightning-button>
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToPriorExposure}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                   <template if:true={showPriorExposure}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Prior Exposure</h1>
                                    <c-okpc-help-text help-text="Please provide information about any prior exposure.">
                                    </c-okpc-help-text>
                                </div>
                                <c-okpc-prior-symptoms onpriorsymptoms={priorSymptomsSave} current-step={currentStep}>
                                </c-okpc-prior-symptoms>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToShowSymptoms}>
                                    </lightning-button>
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToAppointment}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template> -->

                        <template if:true={showAppointmentPreference}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Appointment Scheduling</h1>
                                    <c-okpc-help-text
                                        help-text="Please see your details and edit them, in case you want to change your preferred slot.">
                                    </c-okpc-help-text>
                                </div>

                                <!-- <c-okpc-appointment-preference></c-okpc-appointment-preference> -->
                                <c-okcp-preference-component onsubmit={handleSubmitData} current-step={currentStep}
                                    testing-type={testingType} appointment-data-intake={appointmentDetails}
                                    is-dependent={isDependent}></c-okcp-preference-component>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToPatientHistory}>
                                    </lightning-button>
                                    <lightning-button variant="brand" type="submit" label="Submit" name="submit"
                                        disabled={isDisabled} onclick={handleSubmit}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                        <!-- <template if:true={showthankYou}>
                                        <div class="slds-size_1-of-1 slds-small-size_9-of-12 slds-m-bottom_large">
                                            <c-okpc-thank-you-page onbackbuttonpress={handleThankYouBack}></c-okpc-thank-you-page>
                                        </div>

                                </template> -->
                    </div>


                </div>
            </div>
        </div>
    </template>

</template>