<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Create Appointment Roster</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium modal-body" id="modal-content-id-1">
              <!--******************************************************************************-->
              <div class="card-heading">
                <div class="slot-input">
                    <lightning-layout multiple-rows vertical-align="center">
                        <lightning-layout-item padding="around-small" class="slot-picker">
                            <lightning-input type="number" required name="numSlot" label={appointmentFrequencyLabel} min="0" max="100" value={numOfSlot} onchange={handleSlotChange} ></lightning-input>
                        </lightning-layout-item>
                       
                    </lightning-layout>
                </div>
            </div>
            <div style="background:white;overflow:scroll;">
                <table class="tbl">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th style="background:white;"></th>
                            <template if:true={data.weeks} >
                                <template for:each={data.weeks} for:item="dt" for:index="index">
                                    <th key={dt} class="headerRow" data-colindex={index} onclick={manageColumnSelection}>{dt}</th>
                                </template>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template if:true={data.rows} >
                            <template for:each={data.rows} for:item="row" for:index="rowIndex">
                                <tr key={row.timeSt}>
                                    <td onclick={manageRowclickAction} data-rowindex={rowIndex} class="clickable">{row.timeSt}</td>
                        
                                    <template if:true={row.cols} >
                                        <template for:each={row.cols} for:item="col" for:index="colIndex">
                                            <template if:true={col.isSelected}>
                                                <td key={col.slotId} class="selectedCol" data-recid={col.recId} data-rowindex={rowIndex} data-colindex={colIndex}
                                                    data-slotid={col.slotId} data-day={col.day} data-slotdate={col.slotDate} data-available={col.availableSlots} data-slottime={row.timeSt} onclick={handleSelectedSlots}>
                                                    Available ({col.availableSlots})
                                                </td>
                                            </template>
                        
                                            <template if:false={col.isSelected}>
                                                <td key={col.slotId} class={col.class} if:true={col.newRecord} data-recid={col.recId} data-rowindex={rowIndex} data-colindex={colIndex}
                                                    data-slotid={col.slotId} data-day={col.day} data-available={col.availableSlots} data-slotdate={col.slotDate} data-slottime={row.timeSt} onclick={handleSelectedSlots}>
                                                    Available ({col.availableSlots})
                                                </td>
                                                <template if:false={col.newRecord}>
                                                    <td key={col.slotId} class={col.class} if:true={col.isAvailable} data-recid={col.recId} data-rowindex={rowIndex} data-colindex={colIndex}
                                                        data-slotid={col.slotId} data-day={col.day} data-available={col.availableSlots} data-slotdate={col.slotDate} data-slottime={row.timeSt} onclick={handleSelectedSlots}>
                                                        Available ({col.availableSlots})
                                                    </td>							
                                                </template>
                                            </template>        
                                        </template>
                                    </template>
                                </tr>
                            </template>
                        </template>
                    </tbody>
                </table>
            </div>
            <!-- Spinner component -->
            <div if:true={showSpinner}>
                <div class="backdrop">
                    <div class="spinner">
                        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
                    </div>
                </div>
            </div>
              <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%555-->
            </div>
            <footer class="slds-modal__footer">
                <lightning-button label="Save" variant="brand" onclick={createSlots} style="margin-right: 10px;"></lightning-button>
                <lightning-button label="Close" variant="neutral" onclick={handleCloseModal}></lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>