<template>

    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>

    <template if:true={showMapModal}>
        <c-okpc-location-map onclose={handleMapModalClose} testing-type={testingType}></c-okpc-location-map>
    </template>

    <template if:true={showSingleMap}>
        <c-okpc-open-map map-markers={mapMarkers} onclosesingle={handlesingleMapClose}></c-okpc-open-map>
    </template>

    <template if:true={showLocationDetails}>
        <div class="map-group p-b">
            <div class="section-heading">
                <h3 class="section-title">Location details</h3>
            </div>
            <div class="map-card d-sm-flex">
                <!-- <div class="map-img">
                    <div class="iframe-container">
                        <iframe
                            src="https://www.google.com/maps/dir/?api=1&origin=l1,l2&destination=+35.608124,
                            -97.596833&travelmode=driving"
                            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div> -->
                <div class="details">
                    <div class="address">{accountDetails.title}</div>
                    <div class="address">{location.Street}</div>
                    <div class="city">{location.City}, {location.State}
                        {location.PostalCode}</div>
                    <div class="m-t-sm">
                        <a onclick={handleSingleMap} class="slds-button button_neutral">View map</a>
                    </div>
                    <!-- <div class="m-t-sm">
                        <a href="" class="slds-button button_brand">Get directions</a>
                    </div> -->
                </div>
            </div>
        </div>
    </template>



    <template if:false={showtestingSite}>
        <div class="row align-items-center p-b-md">
            <div class="col-auto">
                <lightning-button label="Pick Location" name="picklocation" onclick={handleMapModal} variant="brand">
                </lightning-button>
            </div>
            <!-- <div class="col-auto">
                <div><strong>Preferred Site:</strong> {selectSiteName}</div>
            </div> -->
        </div>
    </template>
    <!-- <template if:true={showtestingSite}>
        <div class="row align-items-center p-b-md">
            <div class="col-auto">
                <div><strong>Testing Site:</strong> {testingSite}</div>
            </div>
        </div>
    </template> -->


 <!--  <div class="row form-section p-b-md">
        <div class="col-auto">
            <lightning-input type="date" name="preferredDate" min={todayDate} label="Preferred Date" disabled={disableInputs}
                onchange={handleInputChange} value={preferredDate}>
            </lightning-input>
        </div>
        <div class="col-auto"> -->
            
            <!--*Below line was already commented so if un commenting the preffered date time filed for COVID portal
                dont un comment the lin 81 - 83 , we can un comment 72 - 78 , 84 - 88*-->

            <!--<lightning-input type="time" name="preferredTime" label="Preferred Time" disabled={disableInputs}
                min="07:00:00.000Z" max="19:00:00.000Z" onchange={handleInputChange} value={preferredTime}>
            </lightning-input>-->
        <!--    <lightning-input type="time" name="preferredTime" label="Preferred Time" disabled={disableInputs}
            min={preferredTimeMin} max={preferredTimeMax} onchange={handleInputChange} value={preferredTime}>
            </lightning-input>
        </div>
    </div> -->
    <!-- <div if:true={canSchedule}> -->
        <div class="col-auto">
            <lightning-button label="Schedule Appointment" name="schedule" onclick={showAppointments} variant="brand">
            </lightning-button>
            <template if:true={multipleAppnt}>
                <lightning-button label="Cancel" name="cancel" onclick={cancelAppointments} variant="brand" class="slds-m-left_x-small">
                </lightning-button>
            </template>
        </div>
        <template if:true={showCalendar}>
            <c-ok-citizen-schedule-appointment ifcovid ={ifcovid} recordid={appointmentId} selectvalue={selectValue} onclose={hideModal} testing-type={finaltestingTypeReturned} appointment-data-intake={appointmentDetail} is-dependent={isDependent}>
            </c-ok-citizen-schedule-appointment> 

        </template>
   <!-- </div> ß--> 
 
</template>