<template>
    <div class="app-content center-align-card">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">

                <div class="card-photo-cred">
                    <img class="login-photo" src={customImage} />
                </div>


            </div>
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-right-content">

                    <div class="card-header  page-header">
                        <div class="intro">Register Now</div>
                        <h1 class="page-title cred-title">Get started with your account</h1>

                        <!-- <div class="slds-form-element slds-p-bottom_medium">
                
                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Patient ID</label>
                <div class="slds-form-element__control">
                  <input type="text" name="username" placeholder="Enter Patient ID" required="" value={patientId}
                    class="slds-input" onchange={patientIdChange} />
                </div>
              </div> -->
                        <div class="slds-form-element slds-p-bottom_medium">
                            <template if:true={showError}>
                                <div class="error">{errorMessage}</div>
                            </template>
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Email</label>
                            <div class="slds-form-element__control">
                                <input type="text" name="username" placeholder="Enter Email" required="" value={email}
                                    class="slds-input" onchange={emailChange} />
                            </div>
                        </div>
                        <!-- <div class="slds-form-element slds-p-bottom_medium">

    <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Username</label>
    <div class="slds-form-element__control">
        <input type="text" name="username" placeholder="Enter Username" required="" value={username} class="slds-input" onchange={usernameChange} />
    </div>
</div> -->
                        <div class="slds-form-element slds-p-bottom_medium">
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Password</label>
                            <div class="slds-form-element__control">
                                <input type="password" name='password' placeholder="Enter Password" required=""
                                    class="slds-input" value={password} onchange={passwordChange} />
                            </div>
                        </div>
                        <div class="slds-form-element slds-p-bottom_medium">
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Confirm Password</label>
                            <div class="slds-form-element__control">
                                <input type="password" name='password' placeholder="Confirm Password" required=""
                                    class="slds-input" value={confirmPassword} onchange={confirmPasswordChange} />
                            </div>
                        </div>
                        <div class="slds-float_right">

                        </div>
                        <lightning-button label="Register" title="Neutral action" onclick={doRegisteration}
                            class="oktc-registration-button"></lightning-button>
                    </div>


                    <!--<div class="note error-box">
                    <div><strong>Error:</strong><br> Type your error message over here.</div>
                  </div>-->
                </div>
            </div>
        </div>
    </div>
</template>