<template>
    <div class="app-content center-align-card">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_12-of-12 slds-small-size_6-of-12">
                    
                <div class="card-photo-cred">
                        <img class="login-photo" src={customImage}/>
                </div>

               
            </div>
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-right-content">
        
                  <div class="card-header">
                    <div class="intro">Create Case</div>
                    <div class="form-group">
                        <lightning-input label="Enter Description" name="caseDescription" required="required" type="text" value={description} onchange={descriptionChange}></lightning-input>
                    </div>
                    <div class="form-group">
                        <lightning-input label="Enter Email" name="caseEmail" type="email" value={email} required onchange={caseChange}></lightning-input>
                    </div>
                    <br/>
                    <lightning-button label="Submit" onclick={handleSave} variant="brand"></lightning-button>
    </div>
    </div>
    </div>
    </div>
    </div>
</template>