<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oklc-left-navigation selected-tab="dashboard">
        <div slot="body">
            <c-oklc-dashboard></c-oklc-dashboard>
        </div>
    </c-oklc-left-navigation>        
</template>