<template>
  <div class="backdrop" if:true={showSpinner}>
    <div class="spinner">
      <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>
  </div>

  <!--
    <template if:true={disableInputs}>
        <lightning-record-form record-id={contactId} object-api-name="Contact" fields={fields} columns="2"
            mode="readonly" onsubmit={sub}>
        </lightning-record-form>
    </template> -->
  <!-- <template if:false={disableInputs}> -->

  <div class="row form-section p-b-md">
    <div class={dynamicCSS1stdRow}>
      <lightning-combobox
        name="firstTest"
        label="First Test"
        options={YesNoUnKnwOptions}
        onchange={handleInputChange}
        value={dataObj.firstTest}
        required={fieldsRequiredForPrimaryContact}
      >
      </lightning-combobox>
    </div>
    <div class={dynamicCSS1stdRow}>
      <lightning-input
        type="text"
        label="Patient occupation"
        name="parentOccupation"
        value={dataObj.parentOccupation}
        onchange={handleInputChange}
        required={fieldsRequiredForPrimaryContact}
      >
      </lightning-input>
    </div>
    <div class="col-sm-4" if:true={showResidencyType}>
      <lightning-combobox
        name="residencyType"
        label="Patient Residency Type"
        value={dataObj.residencyType}
        placeholder="Patient Residency Type"
        options={PatientResidencyType}
        onchange={handleInputChange}
        required={showResidencyType}
      >
      </lightning-combobox>
    </div>
    <!--    <div class="col-sm-4">
            <lightning-combobox name="empHealthCare" label="Employed in healthcare" options={YesNoUnKnwOptions}
                type="radio" onchange={handleInputChange} value={dataObj.empHealthCare}>
            </lightning-combobox>
        </div> -->
    <div class={dynamicCSS2ndRow}>
      <div class="horizontal-radio">
        <lightning-radio-group
          name="whereYouLive"
          label="Are you associated with a high risk setting?"
          options={YesNoUnKnwOptions}
          type="radio"
          onchange={handleAppointmentInputChange}
          value={appointmentData.whereYouLive}
          required={fieldsRequiredForPrimaryContact}
        >
        </lightning-radio-group>
      </div>
    </div>
    <div class={dynamicCSS2ndRow}>
      <div class="horizontal-radio">
        <lightning-radio-group
          name="isTestRequiredByEmp"
          label="Is your employer requiring a test today?"
          options={onlyYesNoOptions}
          type="radio"
          onchange={handleInputChange}
          value={dataObj.isTestRequiredByEmp}
          required
        >
        </lightning-radio-group>
      </div>
    </div>
    <div class="col-sm-4" if:true={showHighRisk}>
      <lightning-combobox
        name="empHighRisk"
        label="Employed in high risk setting"
        value={dataObj.empHighRisk}
        placeholder="Employed in high risk setting"
        options={EmployedinhighRisk}
        onchange={handleInputChange}
        required={secondRowRequired}
      >
      </lightning-combobox>
    </div>

    <div class="col-sm-12">
      <div class="horizontal-radio">
        <lightning-radio-group
          name="ifSymptomatic"
          label="Are you Symptomatic?"
          options={YesNoUnKnwOptions}
          type="radio"
          onchange={handleAppointmentInputChange}
          value={appointmentData.ifSymptomatic}
          required={fieldsRequiredForDependentContact}
        >
        </lightning-radio-group>
      </div>
    </div>
    <!--   <div class="col-sm-4">
            <lightning-combobox name="Symptomatic" label="Symptomatic for disease" options={YesNoUnKnwOptions}
                 onchange={handleInputChange} value={dataObj.Symptomatic}>
            </lightning-combobox>
        </div> -->

    <div class="col-sm-8">
      <div class="horizontal-radio">
        <lightning-radio-group
          name="residentSetting"
          label="Resident Congregate Setting (Nursing Homes, Group Homes, etc.)"
          options={YesNoUnKnwOptions}
          onchange={handleInputChange}
          value={dataObj.residentSetting}
          required={fieldsRequiredForPrimaryContact}
        >
        </lightning-radio-group>
      </div>
    </div>

    <div class="col-sm-4" if:true={isSymptomatic}>
      <lightning-input
        type="date"
        name="illnessDate"
        max={todayDate}
        label="Illness onset date"
        onchange={handleInputChange}
        value={dataObj.illnessDate}
        required={thirdRowRequired}
      >
      </lightning-input>
    </div>

    <div class="col-sm-12">
      <div class="horizontal-radio">
        <lightning-radio-group
          name="inContactWithpositiveCase"
          label="Have you been in direct contact with a Positive Case in the last 2-14 days?"
          options={onlyYesNoOptions}
          type="radio"
          onchange={handleAppointmentInputChange}
          value={appointmentData.inContactWithpositiveCase}
          required={fieldsRequiredForDependentContact}
        >
        </lightning-radio-group>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="horizontal-radio">
        <lightning-combobox
          name="Pregnant"
          label="Pregnant"
          options={pregnantOptions}
          onchange={handleInputChange}
          value={dataObj.Pregnant}
          required={fieldsRequiredForPrimaryContact}
        >
        </lightning-combobox>
      </div>
    </div>
    <div class="col-sm-4" if:true={isReasonRequired}>
      <lightning-combobox
        name="reasonForTest"
        label="What is the reason for your test today?"
        options={reasonOptions}
        onchange={handleInputChange}
        value={dataObj.reasonForTest}
        required={isReasonRequired}
      >
      </lightning-combobox>
    </div>
    <!--  <div class="col-sm-4">
            <div class="horizontal-radio">
                <lightning-radio-group name="verbalConsent" label="Verbal Consent" options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.verbalConsent} required={fieldsRequiredForPrimaryContact}>
                </lightning-radio-group>
            </div>
        </div>
       -->
    <div class="col-sm-12" if:true={isSymptomatic}>
      <!-- <div style="font-weight: bold;">Disease symptoms</div> -->
      <lightning-dual-listbox
        name="diseaseSymptoms"
        label="Disease symptoms"
        source-label="Available"
        selected-label="Selected"
        options={diseaseSymptoms}
        value={selectedValues}
        onchange={handleInputChange}
        required={thirdRowRequired}
      ></lightning-dual-listbox>
    </div>
  </div>
</template>