.map iframe {
  width: calc(100% - 3rem)
}

.modal-title,.site {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
}
.modal-title {
  width: 56%
}
@media (max-width: 767px) {
  .site {
    display: none;
  }
}
.modal-heading {
  display: flex;
  background: #d0e0e8;
}
.modal-heading iframe {
  width: calc(100% - 1rem);
}