<template>
    <ol class="timeline">
        
        <!-- If Community -->
        <tamplate if:true={isCommunity}>
            <li class={step1CSS} value="1" steplabel="1">Scheduling</li>
        </tamplate>
    </ol>
</template>