.THIS .user-image{
    margin-right: .5rem;
    border-radius: 50%;
    overflow: hidden;
}

.THIS .navbar-primary.oktcbar{
    background-color : #27c4dd !important;
}
.THIS .spacer {
    padding-left: 2rem;
    padding-right: 2rem;
}