<template>
    
    <div class="slds-form-element slds-p-bottom_medium">
        <label class="slds-form-element__label" for="text-input-id-1">
            <abbr class="slds-required" title="required">* </abbr>First Name</label>
        <div class="slds-form-element__control">
            <input type="text" name="firstName" placeholder="Enter First Name"
                required="" value={dataObj.firstName} class="slds-input"
                onchange={handleInputChange} />
        </div>
    </div>

    <div class="slds-form-element slds-p-bottom_medium">

        <label class="slds-form-element__label" for="text-input-id-1">
            <abbr class="slds-required" title="required">* </abbr>Last Name</label>
        <div class="slds-form-element__control">
            <input type="text" name="lastname" placeholder="Enter Last Name" required=""
                value={dataObj.lastName} class="slds-input" onchange={handleInputChange} />
        </div>
    </div>

    <div class="slds-form-element slds-p-bottom_medium">
        <label class="slds-form-element__label" for="text-input-id-1">
            <abbr class="slds-required" title="required">* </abbr>Email Address</label>
        <div class="slds-form-element__control">
            <input type="email" name='email' placeholder="Enter Email" required=""
                class="slds-input" value={dataObj.email} onchange={handleInputChange} />
        </div>
    </div>

    <div class="slds-form-element slds-p-bottom_medium">
        <div class="slds-form-element__control">
            <label class="slds-form-element__label" for="text-input-id-1">
                <template if:true={phoneRequired}> <abbr class="slds-required" title="required">* </abbr></template>
                    Mobile Number</label>
            <lightning-input type="tel" label="Select Account"
            variant="label-hidden"
            class="label-hidden"
                placeholder="Enter Mobile Number" name="phone" onchange={handleInputChange}
                value='{dataObj.phone}' onkeyup={phoneChange} onblur={handleInputChange}
                maxlength="10">
            </lightning-input>
        </div>
    </div>      

    <div class="slds-form-element slds-p-bottom_medium">
        <div class="slds-form-element__control">
            <lightning-input message-when-bad-input = "Your entry does not match the allowed format mm/dd/yyyy." type="date" date-style="short" name="dob" style="min-width: 230px" label="Birthdate" onchange={handleInputChange} value={dataObj.dob}>
            </lightning-input>
        </div>
    </div>

    <div class="slds-form-element slds-p-bottom_medium">
        <label class="slds-form-element__label" for="text-input-id-1">Gender</label>
            <div class="slds-form-element__control">
                <lightning-combobox class="combo-box" name="gender" variant="label-hidden" value={dataObj.gender}
                placeholder="Select Gender" options={genderOptions} onchange={handleInputChange}></lightning-combobox>
            </div>
    </div>

    <div class="slds-form-element slds-p-bottom_medium">
        <label class="slds-form-element__label" for="text-input-id-1">Race</label>
            <div class="slds-form-element__control">
                <lightning-combobox class="combo-box" name="race" variant="label-hidden" value={dataObj.race}
                placeholder="Select Race" options={raceOptions} onchange={handleInputChange}></lightning-combobox>
            </div>
    </div>
    <div class="slds-form-element slds-p-bottom_medium">
        <div class="slds-form-element__control">
            <lightning-input data-field="scheduled" name="scheduled" id="scheduled"
                type="checkbox" label="Appointment Scheduled" value={dataObj.scheduled} checked
                onchange={handleInputChange}></lightning-input>
        </div>
    </div>
    <div class="slds-form-element slds-p-bottom_medium">
        <div class="slds-form-element__control">
            <lightning-input data-field="email" name="emailOpt" id="emailOpt"
                type="checkbox" label="Receive communication via Email" value={dataObj.emailOpt} checked
                onchange={handleInputChange}></lightning-input>
        </div>
    </div>
    <div class="slds-form-element slds-p-bottom_medium">
        <div class="slds-form-element__control">
            <lightning-input data-field="sms" name="smsOpt" id="smsOpt" type="checkbox"
                label="Receive communication via SMS" value={dataObj.smsOpt} class="slds-form-element__label"
                onchange={handleInputChange}></lightning-input>
        </div>
    </div>



    <div class="row form-section p-b-md">
        <div class="col-sm-4">
            <lightning-combobox name="firstTest" label="First Test" options={YesNoUnKnwOptions}
                onchange={handleInputChange} value={dataObj.firstTest} required>
            </lightning-combobox>
        </div>
        <div class="col-sm-4">
            <lightning-input type="text" label="Patient occupation" name="parentOccupation"
            value={dataObj.parentOccupation} onchange={handleInputChange} required>
            </lightning-input>
        </div>
        <div class="col-sm-4">
            <lightning-combobox name="residencyType" label="Patient Residency Type" value={dataObj.residencyType}
                placeholder="Patient Residency Type" options={PatientResidencyType} onchange={handleInputChange} required>
            </lightning-combobox>
        </div>
        <!--    <div class="col-sm-4">
            <lightning-combobox name="empHealthCare" label="Employed in healthcare" options={YesNoUnKnwOptions}
                type="radio" onchange={handleInputChange} value={dataObj.empHealthCare}>
            </lightning-combobox>
        </div> -->
        <div class={dynamicCSS2ndRow}>
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="whereYouLive"
                    label="Do you live/work in High Risk Setting (healthcare, first responder, corrections, other)?"
                    options={YesNoUnKnwOptions} type="radio" onchange={handleInputChange} value={dataObj.whereYouLive}
                    required>
                </lightning-radio-group>
            </div>
        </div>
        <div class="col-sm-4" if:true={showHighRisk}>
            <lightning-combobox name="empHighRisk" label="Employed in high risk setting" value={dataObj.empHighRisk}
                placeholder="Employed in high risk setting" options={EmployedinhighRisk} onchange={handleInputChange} required ={secondRowRequired}>
            </lightning-combobox>
        </div>
       
        <div class={dynamicCSS3nrdRow}>
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="ifSymptomatic" label="Are you Symptomatic?" options={YesNoUnKnwOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.ifSymptomatic} required>
                </lightning-radio-group>
            </div>
        </div>
        <!--   <div class="col-sm-4">
            <lightning-combobox name="Symptomatic" label="Symptomatic for disease" options={YesNoUnKnwOptions}
                 onchange={handleInputChange} value={dataObj.Symptomatic}>
            </lightning-combobox>
        </div> -->
        
        <div class={dynamicCSS3nrdRow}>
            <lightning-combobox name="residentSetting" label="Resident Congregate Setting" options={YesNoUnKnwOptions}
                onchange={handleInputChange} value={dataObj.residentSetting} required>
            </lightning-combobox>
        </div>

        <div class="col-sm-4" if:true={isSymptomatic}>
            <lightning-input type="date" name="illnessDate" style="min-width: 230px" max={todayDate}
                label="Illness onset date" onchange={handleInputChange} value={dataObj.illnessDate} required ={thirdRowRequired}>
            </lightning-input>
        </div>

        <div class="col-sm-12">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="inContactWithpositiveCase"
                    label="Have you been in direct contact with a Positive Case in the last 2-14 days?"
                    options={onlyYesNoOptions} type="radio" onchange={handleInputChange}
                    value={dataObj.inContactWithpositiveCase} required>
                </lightning-radio-group>
            </div>
        </div>
        <div class="col-sm-4">
            <lightning-combobox name="Pregnant" label="Pregnant" options={pregnantOptions} onchange={handleInputChange}
                value={dataObj.Pregnant} required>
            </lightning-combobox>
        </div>
        <div class="col-sm-4">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="verbalConsent" label="Verbal Consent" options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.verbalConsent} required>
                </lightning-radio-group>
            </div>
        </div>
       
        <div class="col-sm-6" if:true={isSymptomatic}>
           <!-- <div style="font-weight: bold;">Disease symptoms</div> -->
            <lightning-dual-listbox name="diseaseSymptoms" label="Disease symptoms" source-label="Available"
                selected-label="Selected"  options={diseaseSymptoms}
                value={selectedValues} onchange={handleInputChange} required ={thirdRowRequired}></lightning-dual-listbox>
        </div>
      
    </div>
</template>