<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-okvriu-left-navigation selected-tab="downloads">
        <div slot="body">
            <lightning-tabset>
              
                <lightning-tab label="Appointment Download">
                    <div class="heading-container">
                        <div class="button-container">
                            <lightning-input type="date" name="fromDate" style="min-width: 230px" 
                                label="From Date" required onchange={handleInputChange} value={fromDate}>
                            </lightning-input>
                            <lightning-input type="date" name="toDate" style="min-width: 230px" 
                                label="To Date" required onchange={handleInputChange} value={toDate}>
                            </lightning-input>
                        </div>
                        <div class="button-container" style="width: 100%">
                            <lightning-button class="slds-float_right table-button-class" label="Download"
                                icon-name="utility:download" title="download" onclick={getAntibodyList} variant="brand">
                            </lightning-button>
                        </div>
                    </div>
                <!--    <div if:true={loadTable}>
                        <c-oktcgenericpaginator object-name="Antibody_Testing__c" numberofcolumns="7" columns={columns2}
                            placeholder="Search Record..." sort-by="Antibody_Testing_Number__c" sort-dir="ASC"
                            where-clause={whereClausepositive}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            header="Add Properties" norecord-message="No Records Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction}>
                        </c-oktcgenericpaginator>
                    </div>
                    <div if:false={loadTable} class="paginator-container">
                        <h4 class="slds-align_absolute-center">There are no records to display.</h4>
                    </div> -->
                </lightning-tab>
            </lightning-tabset>
        </div>
    </c-okvriu-left-navigation>
</template>