<template>
    <div class="app-content center-align-card">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-photo-cred">
                    <img class="login-photo" src={customImage} />
                </div>
            </div>
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-right-content">
                    <div class="card-header page-header">
                        <div class="intro">Login</div>
                        <h1 class="page-title cred-title">Welcome back</h1>

                        <div class="slds-form-element slds-p-bottom_medium">
                            <template if:true={showError}>
                                <div class="error">{errorMessage}</div>
                            </template>
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Email</label>
                            <div class="slds-form-element__control">
                                <input type="text" name="username" placeholder="Enter Email" required=""
                                    value={username} class="slds-input" onchange={nameChange} />
                            </div>
                        </div>
                        <div class="slds-form-element slds-p-bottom_medium">
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Password</label>
                            <div class="slds-form-element__control">
                                <input type="password" name='password' placeholder="Enter Password" required=""
                                    class="slds-input" value={password} onchange={passwordChange} />
                            </div>
                            <p class="password-helptext">After 3 failed attempts, your account will be locked for 15 minutes.</p>
                        </div>
                        <div class="slds-clearfix slds-p-bottom_medium">
                            <!-- <div class="slds-form-element slds-float_left">
                                <div class="slds-form-element__control">
                                    <div class="slds-checkbox">
                                        <input type="checkbox" name="options" id="checkbox-unique-id-73" value="checkbox-unique-id-73" checked="" />
                                        <label class="slds-checkbox__label" for="checkbox-unique-id-73">
                                                        <span class="slds-checkbox_faux"></span>
                                                        <span class="slds-form-element__label">Remember Password</span>
                                                        </label>
                                    </div>
                                </div>
                            </div> -->
                            <div class="slds-float_right">
                                <a href="#" onclick={navigateToForgotPassword}>Forgot Password</a>
                            </div>
                            <lightning-button label="&nbsp;&nbsp;Login&nbsp;&nbsp;" title="Neutral action"
                                onclick={doLogin} class="okpc-registration-button"></lightning-button>
                        </div>


                        <!--
                        <div class="note error-box">
                              <div><strong>Error:</strong><br> Type your error message over here.</div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>