<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-okvriu-left-navigation selected-tab="createContact">
        <div slot="body">
            <lightning-tabset>
                <lightning-tab label="Contact Information">
            <div class="app-content center-align-card">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                        <div class="card-right-content">
                            <template if:false={showThankYou}>
                                <div class="card-header">
                                   
                                    <h1>Enter your information below</h1>

                                    <div class="slds-form-element slds-p-bottom_medium">
                                        <template if:true={showError}>
                                            <div class="error">{errorMessage}</div>
                                        </template>
                                        <template if:true={showSuccess}>
                                            <div class="success">{errorMessage}</div>
                                        </template>
                                        <label class="slds-form-element__label" for="text-input-id-1">
                                            <abbr class="slds-required" title="required">* </abbr>First Name</label>
                                        <div class="slds-form-element__control">
                                            <input type="text" name="FirstName" placeholder="Enter First Name" pattern="^[A-Za-z ]+$" 
                                                required="" value={firstName} class="slds-input"
                                                onchange={firstNameChange} />
                                        </div>
                                    </div>
                                    <div class="slds-form-element slds-p-bottom_medium">

                                        <label class="slds-form-element__label" for="text-input-id-1">
                                            <abbr class="slds-required" title="required">* </abbr>Last Name</label>
                                        <div class="slds-form-element__control">
                                            <input type="text" name="lastname" placeholder="Enter Last Name" required="" pattern="^[A-Za-z ]+$" 
                                                value={lastName} class="slds-input" onchange={lastNameChange} />
                                        </div>
                                    </div>
                                    <div class="slds-form-element slds-p-bottom_medium">
                                        <div class="slds-form-element__control">
                                            <lightning-input type="tel" label="Mobile Number"
                                                placeholder="Enter Mobile Number" name="phone" onchange={phoneChange}
                                                value='{phone}' onkeyup={phoneChange} onblur={handleInputChange}
                                                maxlength="10">
                                            </lightning-input>
                                        </div>
                                    </div>
                                    <div class="slds-form-element slds-p-bottom_medium">
                                        <label class="slds-form-element__label" for="text-input-id-1">
                                            <abbr title="required"> </abbr>Email Address</label>
                                        <div class="slds-form-element__control">
                                            <input type="email" name='email' placeholder="Enter Email" required=""
                                                class="slds-input" value={email} onchange={emailChange} />
                                        </div>
                                    </div>
                                    <div class="slds-form-element slds-p-bottom_medium">
                                        <!-- <label class="slds-form-element__label" for="emailOpt">
                                            <abbr title="required"> </abbr>Opt-out from Email notifications?</label> -->
                                        <div class="slds-form-element__control">
                                            <!-- <input type="checkbox" name='emailOpt' required=""
                                                class="slds-input" value={emailOpt} onchange={emailOptChange} /> -->
                                            <!-- <lightning-input type="checkbox" label="Basic option" name="input1"/> -->
                                            <lightning-input data-field="email" name="emailOpt" id="emailOpt"
                                                type="checkbox" label="Receive communication via Email" value={emailOpt} checked
                                                onchange={emailOptChange}></lightning-input>
                                        </div>
                                    </div>
                                    <div class="slds-form-element slds-p-bottom_medium">
                                        <!-- <label class="slds-form-element__label" for="smsOpt">
                                            <abbr title="required"> </abbr>Opt-out from SMS notifications?</label> -->
                                        <div class="slds-form-element__control">
                                            <!-- <input type="checkbox" name='smsOpt' required="" class="slds-input"
                                                value={smsOpt} onchange={smsOptChange} /> -->
                                            <lightning-input data-field="sms" name="smsOpt" id="smsOpt" type="checkbox" checked
                                                label="Receive communication via SMS" value={smsOpt} class="slds-form-element__label"
                                                onchange={smsOptChange}></lightning-input>
                                        </div>
                                    </div>
                                    <div class="slds-float_right">

                                    </div>
                                    <lightning-button label="Submit" title="Neutral action" onclick={doRegisteration}
                                        class="okpc-registration-button"></lightning-button>
                                </div>

                            </template>
                            <template if:true={showThankYou}>
                                <div class="success">{thankYouMessage}</div>
                            </template>
                            <!--<div class="note error-box">
                                <div><strong>Error:</strong><br> Type your error message over here.</div>
                              </div>-->
                        </div>
                    </div>
                </div>
            </div>
</lightning-tab>
</lightning-tabset>
        </div>
    </c-okvriu-left-navigation>
</template>