<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{heading}</h2>
            </header>
            <div class="slds-modal__content modal__content-height slds-p-around_medium modal-body"
                id="modal-content-id-1">
                <template if:true={isComplete}>
                    <span class="heading-model"> Are you sure you want to mark this appointment as complete? </span>
                    <br />
                </template>
                <template if:true={isCancelled}>
                    <span class="heading-model">Are you sure you want to cancel your appointment? </span>
                    <br />
                    <br />
                    <p>Click "Yes" to cancel and "No" to go back.</p>
                    <br />
                    <lightning-input type="text" label="Enter reason for cancellation" name="cancelationReason" value={reason} required onchange={handleInputChange}></lightning-input>
                </template>
                <template if:true={isInProgress}>
                    <span class="heading-model">Are you sure you want to move this appointment to In Progress? </span>
                    <br />
                    <br />
                    <p>Click "Yes" to cancel and "No" to go back.</p>
                    <br />
                    <lightning-input type="text" label="Enter reason for in progress" name="cancelationReason" value={reason} onchange={handleInputChange}></lightning-input>
                </template>

            </div>
            <footer class="slds-modal__footer">
                <lightning-button if:true={isComplete} label="Complete" variant="brand" onclick={completeAppointment}
                    style="margin-right: 10px;"></lightning-button>
                <lightning-button if:true={isCancelled} label="Yes" variant="brand" onclick={cancelAppointment}
                    style="margin-right: 10px;"></lightning-button>
                <lightning-button if:true={isInProgress} label="Yes" variant="brand" onclick={inprogressAppointment}
                style="margin-right: 10px;"></lightning-button>
                <lightning-button if:true={isCancelled} label="Cancel" variant="neutral" onclick={handleCloseModal}>
                </lightning-button>
                <lightning-button if:false={isCancelled} label="No" variant="neutral" onclick={handleCloseModal}>
                </lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
</template>