<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-okvriu-left-navigation selected-tab="scheduler">
        <div slot="body">            
            <c-okvriu-scheduler-configuration ></c-okvriu-scheduler-configuration>           
        </div>
    </c-okvriu-left-navigation>        
</template>