<template>
    <div class="app-content center-align-card">
      <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
  
          <div class="card-photo-cred">
            <img class="login-photo" src={customImage} />
          </div>
  
  
        </div>
        <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
          <div class="card-right-content">
            <template if:false={showThankYou}>
            <div class="card-header">
              <div class="intro">Register Now</div>
              <h1>Enter your details below</h1>
  
              <div class="slds-form-element slds-p-bottom_medium">
                <template if:true={showError}>
                  <div class="error">{errorMessage}</div>
                </template>
                <template if:true={showSuccess}>
                    <div class="success">{errorMessage}</div>
                  </template>
  <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>First Name</label>
  <div class="slds-form-element__control">
      <input type="text" name="FirstName" placeholder="Enter First Name" required="" value={firstName} class="slds-input" onchange={firstNameChange} />
  </div>
  </div>
  <div class="slds-form-element slds-p-bottom_medium">
  
      <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Last Name</label>
      <div class="slds-form-element__control">
          <input type="text" name="lastname" placeholder="Enter Last Name" required="" value={lastName} class="slds-input" onchange={lastNameChange} />
      </div>
  </div>
   <div class="slds-form-element slds-p-bottom_medium">
      <div class="slds-form-element__control">
        <lightning-input type="tel" label="Mobile Number" placeholder="Enter Mobile Number" name="phone"  onchange={phoneChange} required value='{phone}' onkeyup={phoneChange}
        onblur={handleInputChange} maxlength="10">
        </lightning-input>
      </div>
  </div> 
  <div class="slds-form-element slds-p-bottom_medium">
      <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Email Address</label>
      <div class="slds-form-element__control">
          <input type="email" name='email' placeholder="Enter Email" required="" class="slds-input" value={email} onchange={emailChange} />
      </div>
  </div>
<!--  <div class="slds-form-element slds-p-bottom_medium">
      <div class="slds-form-element__control">
        <lightning-combobox name="Account" label="Account" value={accountId} placeholder="Select Suffix" options={accounts} onchange={accountChange}>
        </lightning-combobox>
      </div>
  </div>
  <div class="slds-form-element slds-p-bottom_medium">
    <div class="slds-form-element__control">
      <lightning-combobox name="Portal" label="Portal" value={portalName} placeholder="Select Suffix" options={portal} onchange={portalChange}>
      </lightning-combobox>
    </div>
</div> -->
  <div class="slds-float_right">
  
  </div>
  <lightning-button label="Submit" title="Neutral action" onclick={doRegisteration} class="okpc-registration-button"></lightning-button>
  </div>
  
  </template>
  <template if:true={showThankYou}>
    <div class="success">{thankYouMessage}</div>
  </template>
  <!--<div class="note error-box">
                    <div><strong>Error:</strong><br> Type your error message over here.</div>
                  </div>-->
  </div>
  </div>
  </div>
  </div>
  </template>