<template>
    <template if:true={showDashboard}>
        <c-okpc-dashboard oneditprofile={editProfile}></c-okpc-dashboard>
    </template>
    <template if:false={showDashboard}>
        <div class="claim_form container_spacing">

            <div class="backdrop" if:true={showSpinner}>
                <div class="spinner">
                    <lightning-spinner alternative-text="Loading..."></lightning-spinner>
                </div>
            </div>

            <!-- Heading -->
            <!-- <div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium heading_header_registration">
                        <div class="container d-flex justify-space-between">
                            <h6>Form Header</h6>
                        </div>
                    </div> -->

            <div class="container">
                <div class="app-container slds-grid slds-gutters slds-wrap">
                    <div class="app-sidebar slds-col slds-size_1-of-1 slds-small-size_3-of-12">
                        <!-- Flow Steps -->
                        <template if:false={hideStep1and5}>
                            <c-okcp-flow-steps current-step={currentStep} original-step={originalStep}
                            hide-step={hideStep3}>
                        </c-okcp-flow-steps>
                        </template>
                        
                        <template if:true={hideStep1and5}>
                            <c-auto-schedule-flow-steps current-step={currentStep} original-step={originalStep}></c-auto-schedule-flow-steps>

                        </template>
                    </div>

                    <div class="app-content slds-size_1-of-1 slds-small-size_9-of-12 slds-m-bottom_large">
                        <template if:true={showConsent}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Consent</h1>
                                    <c-okpc-help-text help-text="Please provide your consent."></c-okpc-help-text>
                                </div>

                                <c-okpc-consent-page onconsentsave={consentSave} current-step={currentStep}>
                                </c-okpc-consent-page>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToPersonalInfo}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                        <template if:true={showPersonalInformation}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Personal Information</h1>
                                    <c-okpc-help-text help-text={showPUA_Claimant_Profile_Help_Text}></c-okpc-help-text>
                                </div>
                                <c-okpc-contact-info current-step={currentStep} oncontactsave={saveContacts}></c-okpc-contact-info>
                                <div class="controls slds-m-top_medium">
                                     <template if:false={hideStep1and5}>
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToConsent}>
                                    </lightning-button>
                                    </template>
                                    <!-- <lightning-button variant="neutral" type="submit" label="Edit"
                                                    class="slds-m-right_xx-small" onclick={handleEdit}>
                                                </lightning-button> -->
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToShowSymptoms}>
                                    </lightning-button>
                                    <!-- </template> -->
                                    <!-- <template if:true={edit}>
                                                <lightning-button variant="neutral" type="submit" label="Cancel"
                                                    class="slds-m-right_xx-small" onclick={handleCancel}>
                                                </lightning-button>
                                                <lightning-button variant="brand" type="submit" label="Save" onclick={handleSave}>
                                                </lightning-button>
                                            </template> -->
                                </div>
                            </div>
                        </template>

                        <template if:true={showSymptoms}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Symptoms</h1>
                                    <c-okpc-help-text help-text="Please provide information about your symptoms.">
                                    </c-okpc-help-text>
                                </div>

                                <c-okpc-symptoms-page onsymptomssave={saveSymptoms} current-step={currentStep}>
                                </c-okpc-symptoms-page>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToPersonalInfo}>
                                    </lightning-button>
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToPriorExposure}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                        <template if:true={showPriorExposure}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Prior Exposure</h1>
                                    <c-okpc-help-text help-text="Please provide information about any prior exposure.">
                                    </c-okpc-help-text>
                                </div>
                                <c-okpc-prior-symptoms onpriorsymptoms={priorSymptomsSave} onpriorsymptomseditprofile={chekcError} current-step={currentStep}>
                                </c-okpc-prior-symptoms>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToShowSymptoms}>
                                    </lightning-button>
                                 <template if:false={hideStep1and5}>
                                    <lightning-button variant="brand" type="submit" label="Next" name="next"
                                        onclick={navigateToAppointment}>
                                    </lightning-button>
                                </template>
                                <template if:true={hideStep1and5}>
                                    <lightning-button variant="brand" type="submit" label="Save" name="savepriorsymptoms"
                                        onclick={navigateToAppointment}>
                                    </lightning-button>
                                </template>
                                </div>
                            </div>
                        </template>

                        <template if:true={showAppointmentPreference}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Appointment Preference</h1>
                                    <c-okpc-help-text
                                        help-text="Please see your details and edit them, in case you want to change your preferred slot.">
                                    </c-okpc-help-text>
                                </div>

                                <!-- <c-okpc-appointment-preference></c-okpc-appointment-preference> -->
                                <c-okpc-preference-component current-step={currentStep} testing-type={testingType} onclose={showDashboardDetails}></c-okpc-preference-component>
                                <div class="controls slds-m-top_medium">
                                    <lightning-button variant="neutral" type="submit" label="Back"
                                        class="slds-m-right_xx-small" onclick={navigateToPriorExposure}>
                                    </lightning-button>
                                    <lightning-button variant="brand" type="submit" label="Submit" name="submit"
                                        onclick={handleSubmit}>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>

                        <!-- <template if:true={showthankYou}>
                                        <div class="slds-size_1-of-1 slds-small-size_9-of-12 slds-m-bottom_large">
                                            <c-okpc-thank-you-page onbackbuttonpress={handleThankYouBack}></c-okpc-thank-you-page>
                                        </div>
                    
                                </template> -->
                    </div>


                </div>
            </div>
        </div>
    </template>

</template>