<template>
    <template if:true={showDashboard}>
        <c-ok-vital-dashboard oneditprofile={editProfile}></c-ok-vital-dashboard>
    </template>
    <template if:false={showDashboard}>
        <div class="claim_form container_spacing">

            <div class="backdrop" if:true={showSpinner}>
                <div class="spinner">
                    <lightning-spinner alternative-text="Loading..."></lightning-spinner>
                </div>
            </div>
            <div class="container">
                <div class="app-container slds-grid slds-gutters slds-wrap">
                    <div class="app-sidebar slds-col slds-size_1-of-1 slds-small-size_3-of-12">
                        
                        <c-ok-vital-flow-steps edit-profile-mode={editProfileMode} hide-personal-info="true" current-step={currentStep} original-step={originalStep}></c-ok-vital-flow-steps>
                       
                    </div>

                    <div class="app-content slds-size_1-of-1 slds-small-size_9-of-12 slds-m-bottom_large">
                        <template if:true={showPersonalInformation}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Personal Information</h1>
                                    <c-okpc-help-text help-text={showPUA_Claimant_Profile_Help_Text}></c-okpc-help-text>
                                </div>
                                <c-ok-vital-personal-information current-step={currentStep} oncontactsave={saveContacts}></c-ok-vital-personal-information>
                                <div class="controls slds-m-top_medium">
                               
                                    <lightning-button variant="brand" type="submit" label="Save" name="next"
                                        onclick={navigateToAppointment}>
                                    </lightning-button>
                                    <template if:true={editProfileMode}>
                                        <lightning-button variant="brand" type="submit" label="Cancel" name="cancel"
                                        onclick={navigateToAppointment} class = "slds-m-left_small"> </lightning-button>
                                    </template>
                                 
                                </div>
                            </div>
                        </template>

                        <template if:true={showAppointmentPreference}>
                            <div style="display: block">
                                <div class="page-header">
                                    <h1 class="page-title">Appointment Scheduling</h1>                               
                                </div>
                                <c-ok-vital-preference-component onsubmit={handleSubmitData} current-step={currentStep}></c-ok-vital-preference-component>                   
                            </div> 
                        </template>                      
                    </div>
                </div>
            </div>
        </div>
    </template>

</template>