<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oklc-left-navigation selected-tab="downloadResult">
        <div slot="body">
            <c-oklc-download-file></c-oklc-download-file>
        </div>
    </c-oklc-left-navigation>        
</template>