<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oktc-left-navigation selected-tab="scheduler">
        <div slot="body">
           <c-oktc-scheduler-configuration></c-oktc-scheduler-configuration>
        </div>
    </c-oktc-left-navigation>        
</template>