<template>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <!-- 
    <template if:true={disableInputs}>
        <lightning-record-form record-id={contactId} object-api-name="Contact" fields={fields} columns="2"
            mode="readonly" onsubmit={sub}>
        </lightning-record-form>
    </template> -->
<!-- <template if:false={disableInputs}> -->

<div class="row form-section p-b-md">
    <div class="col-sm-4">
        <lightning-input type="text" label="First Name" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters or space." required name="firstName" onchange={handleInputChange} value={dataObj.firstName}></lightning-input>
    </div>
    <div class="col-sm-4">
        <lightning-input type="text" label="Middle Name" name="middleName" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters or space."
        onchange={handleInputChange} value={dataObj.middleName}></lightning-input>
    </div>
    <div class="col-sm-4">
        <lightning-input type="text" label="Last Name" name="lastName" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters" required onchange={handleInputChange} value={dataObj.lastName}></lightning-input>
    </div>
    <div class="col-sm-4">
        <lightning-input type="email" label="E-mail" name="email"  onchange={handleInputChange} value={dataObj.email}>
        </lightning-input>
    </div>
    <div class="col-sm-4">
        <lightning-input type="tel" label="Phone" name="phone" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$" message-when-pattern-mismatch="provide a valid phone number" onchange={handleInputChange}  value={dataObj.phone} onkeyup={handleInputChange}
        onblur={handleInputChange} maxlength="14">
        </lightning-input>
    </div>
   <div class="col-sm-12 slds-p-top_small">
        <lightning-input type="checkbox" label="Receive communication via Email" name="emailCheckbox" checked={dataObj.emailCheckbox} onchange={handleInputChange}>
        </lightning-input>
    </div>
    <div class="col-sm-12  slds-p-bottom_small">
        <lightning-input type="checkbox" label="Receive communication via SMS" name="smsCheckbox" checked={dataObj.smsCheckbox} onchange={handleInputChange}>
        </lightning-input>
    </div>
    <div class="slds-form__item horizontal-radio">
        <lightning-radio-group name="prescriptionMed"
            label="Will you need a Spanish Interpreter? " options={onlyYesNoOptions}
            type="radio" onchange={handleInputChange} value={dataObj.needSpanishInterpretor} required>
        </lightning-radio-group>
    </div>
   
</div>

</template>