<template>
    <div class="app-content center-align-card">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">

                <div class="card-photo-cred">
                    <img class="login-photo" src={customImage} />
                </div>


            </div>
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-right-content">

                    <div class="card-header">
                        <div class="intro">Recover Password</div>
                        <h1>Enter your details below</h1>

                        <div class="slds-form-element slds-p-bottom_medium">
                            <template if:true={showError}>
                                <div class="error">{errorMessage}</div>
                            </template>
                            <label class="slds-form-element__label slds-p-bottom_medium" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Email</label>
                            <div class="slds-form-element__control">
                                <input type="text" name="username" placeholder="Enter Email" required=""
                                    value={username} class="slds-input" onchange={nameChange} />
                            </div>
                        </div>
                        <lightning-button label="Forgot Password" title="Neutral action" onclick={doForgotPasswordCheck}
                            class="oktc-registration-button"></lightning-button>
                    </div>


                    <!--<div class="note error-box">
                  <div><strong>Error:</strong><br> Type your error message over here.</div>
                </div>-->
                </div>
            </div>
        </div>
    </div>

</template>