.THIS
    *,
  .THIS  ::after,
  .THIS  ::before {

        box-sizing: border-box;
}

.THIS {
    background: #f9f9f9;
}
.THIS .forceCommunitySection .cb-section_column:only-child {
    padding: 0;
}

.THIS .brief_card {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}
.THIS .terms-input .slds-textarea {
    min-height: 140px;
}
.THIS .app-container {
    padding-top: 0;
}
.THIS .siteforceContentArea .comm-layout-column:not(:empty) {
    padding: 0;
}
.THIS .slds-list_horizontal .slds-form-element + .slds-form-element {
    margin-left: 1rem;
}
.THIS .controls {
    margin: 0;
    padding: 1.5rem 0 0;
    /* border-top: 1px solid #ddd; */
    display: flex;
    justify-content: flex-end;
}


.THIS .page-content p + p {
    padding-top: 1rem;
}

.THIS .slds-form-element .slds-form-element__label abbr {
    position: absolute;
    margin-left: -8px;
}

.THIS .slds-form__row {
    margin-bottom: 1rem;
}

.THIS .horizontal-radio .slds-radio__label .slds-form-element__label,
.THIS .horizontal-radio .slds-checkbox__label .slds-form-element__label,
.THIS .check-group .slds-checkbox__label .slds-form-element__label,
.THIS .radio-group .slds-radio__label .slds-form-element__label {
    font-weight: normal;
}
.THIS .horizontal-radio .slds-radio + .slds-radio {
    margin-left: 1rem;
}

.THIS .horizontal-radio .slds-form-element__control {
    display: flex;
    flex-wrap: wrap;

}
.THIS .alert {
    max-width: 420px;
    margin: 0 auto;
    border: 2px solid #ddd;
    padding: 2rem;
    display: flex;
}
.THIS .alert svg {
    width: 3rem;
    height: 3rem;
}
.THIS .alert .text {
    margin-left: 1.5rem;
    flex: 1;
}
.THIS .alert h1 {
    font-size: 1.25rem;
    line-height: 1.3;
}
.THIS .alert .description {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.THIS .alert .case-no {
    padding: 0.25rem 0.5rem;
    display: inline-flex;
    border: 2px solid #ffd455;
    margin-bottom: 1rem;
    background: #fff4d3;
}

.THIS .shadow-card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.THIS .iframe-holder {
    position: relative;
    min-width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-top: -2rem;
    padding: 0;
    border: 0;
    min-height: calc(100vh - 104px);
}

.THIS .iframe-holder iframe {
    border: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.THIS .cb-section_row.slds-grid.slds-wrap.slds-large-nowrap {
    height: 100vh !important;
}

.THIS .navbar-primary .container {
    max-width: 100%;
}


@media (max-width: 767px) {
    .THIS .controls.vertical-xs {
        flex-direction: column;
        width: 100%;
    }
    .THIS .controls.vertical-xs .slds-button {
        margin-top: 1rem;
        width: 100%;
    }

}


@media (min-width: 768px) {
    .THIS .controls.vertical-xs lightning-button + lightning-button {
        margin-left: 0.5rem;
    }
}

.THIS table .paginator-button button {
    margin-top: 0;
    font-size: 12px;
    padding: 6px 12px;
}
.THIS .slds-tabs_default__item:not(.slds-is-active):hover::after {
    display: none;
}
.THIS .slds-tabs_default__nav li.slds-tabs_default__item {
    padding: 6px 12px;
    font-size: 13px;
}

.THIS .btn-nav .slds-button[disabled] {
    color: white;
    background: #004E9A;
}

.THIS .btn-nav .slds-button {
    color: black;
    background: white;
    outline: 2px solid #004E9A;
}

@media (max-width: 767px) {
    .THIS .navbar-primary nav {
        flex-direction: column;
    }
    .THIS .navbar-primary nav a {
        width: 100%;
        box-shadow: none;
    }
}


.THIS .search-block {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .THIS .search-block .order-sm-1 {
    margin-top: 1rem;
  }
  .THIS .search-block .order-sm-2 lightning-button {
    margin-top: 1rem;
    display: block;
  }

}

@media (min-width: 768px) {
  .THIS .search-block .order-sm-2 .slds-input {
    min-width: 280px;
  }
  .THIS .m-left-small {
    margin-left: 0.5rem;
  }
}