<template>
    
        <ol class="timeline">
            <li class={step1CSS} value="1" steplabel="1" onclick={handleUserClicks}>Consent</li>
            <li class={step2CSS} value="2" steplabel="2" onclick={handleUserClicks}>Personal Information</li>
            <li class={step3CSS} value="3" steplabel="3" onclick={handleUserClicks}>Insurance Information</li>
            <li class={step4CSS} value="4" steplabel="4" onclick={handleUserClicks}>Patient History</li>
           <!-- <li class={step4CSS} value="4" steplabel="4" onclick={handleUserClicks}>Screening Questions</li> -->
            <li class={step5CSS} value="5" steplabel="5" onclick={handleUserClicks}>Appointment Scheduling</li>
        </ol>
    
</template>