<template>
    <div class="container">
            <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
            <div class="color-card">
                <div class="content-section">
                    <span class="content-section--label">Positive</span>
                    <p class="content-section--count">{positiveCount}</p>
                </div>
                <div class="icon-section icon-section--red">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
            <div class="color-card">
                <div class="content-section">
                    <span class="content-section--label">Negative</span>
                    <p class="content-section--count">{negativeCount}</p>
                </div>
                <div class="icon-section icon-section--green">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3">
            <div class="color-card">
                <div class="content-section">
                    <span class="content-section--label">Rejected</span>
                    <p class="content-section--count">{resultReprocessCount}</p>
                </div>
                <div class="icon-section icon-section--yellow">
                    &nbsp;
                </div>
            </div>
        </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-3">
        <div class="base-db-card">
            <div class="content-section">
                <span class="content-section--db-label">NEWS</span>
                <div class="content-section--cs-card">
                    <p class="content-section--db-heading">Oklahoma’s Health Response to COVID-19</p>
                    <p class="content-section--db-subheading">COVID-19 is a virus identified as the cause of an outbreak of respiratory illness first detected in Wuhan City, Hubei Province, China in 2019 and has since spread globally into a pandemic.</p>
                    <a href="https://coronavirus.health.ok.gov/" class="content-section--db-link" target="_blank">Read more
                                &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
        <div class="color-card">
            <div class="content-section">
                <span class="content-section--label">Results Blank</span>
                <p class="content-section--count">{blankCount}</p>
            </div>
            <div class="icon-section icon-section--blue">
                &nbsp;
            </div>
        </div>
    </div>
</div>
</div>
</template>