<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oklc-left-navigation selected-tab="testingSample">
        <div slot="body">
            <lightning-tabset>
                <lightning-tab label="Unprocessed">

                    <!-- <div class = "combo-box">
                    <lightning-combobox name="progress" variant="label-hidden" value={batchId} placeholder="Select Batch"
                    options={batchoptions} onchange={handleChange} ></lightning-combobox>
                    </div> -->
                    <div class="heading-container" if:true={loadTable}>
                        <div class="button-container">
                            <lightning-combobox class="combo-box" name="progress" variant="label-hidden" value={batchId}
                                placeholder="Select Batch" options={batchoptions} onchange={handleChange}>
                            </lightning-combobox>
                        </div>
                        <div class="button-container" style="width: 100%">
                            <lightning-button class="slds-float_right table-button-class" label="Download" icon-name="utility:download"
                                title="download" onclick={getAntibodyList} variant="brand"></lightning-button>
                        </div>
                    </div>
                    <div class="paginator-container" if:true={labId}>
                        <!-- <template if:true={loadTable}> -->
                        <c-oktcgenericpaginator object-name="Antibody_Testing__c" numberofcolumns="5" columns={columns}
                            placeholder="Search Record..." sort-by="Antibody_Testing_Number__c" sort-dir="ASC"
                            where-clause={whereClause}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            header="Add Properties" norecord-message="No Records Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction}>
                        </c-oktcgenericpaginator>
                        <!-- </template> -->
                    </div>
                    <div class="paginator-container" if:false={loadTable}>
                        <h4 class="slds-align_absolute-center">There are no records to display.</h4>
                    </div>
                </lightning-tab>
                <lightning-tab label="Positive">
                    <div if:true={loadTable}>
                        <c-oktcgenericpaginator object-name="Antibody_Testing__c" numberofcolumns="7" columns={columns2}
                            placeholder="Search Record..." sort-by="Antibody_Testing_Number__c" sort-dir="ASC"
                            where-clause={whereClausepositive}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            header="Add Properties" norecord-message="No Records Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction}>
                        </c-oktcgenericpaginator>
                    </div>
                    <div if:false={loadTable} class="paginator-container">
                        <h4 class="slds-align_absolute-center">There are no records to display.</h4>
                    </div>
                </lightning-tab>
                <lightning-tab label="Negative">
                    <div if:true={loadTable}>
                        <c-oktcgenericpaginator object-name="Antibody_Testing__c" numberofcolumns="7" columns={columns2}
                            placeholder="Search Record..." sort-by="Antibody_Testing_Number__c" sort-dir="ASC"
                            where-clause={whereClausenegative}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            header="Add Properties" norecord-message="No Records Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction}>
                        </c-oktcgenericpaginator>
                    </div>
                    <div if:false={loadTable} class="paginator-container">
                        <h4 class="slds-align_absolute-center">There are no records to display.</h4>
                    </div>
                </lightning-tab>
                <lightning-tab label="Rejected">
                    <div if:true={loadTable}>
                        <c-oktcgenericpaginator object-name="Antibody_Testing__c" numberofcolumns="7" columns={columns2}
                            placeholder="Search Record..." sort-by="Antibody_Testing_Number__c" sort-dir="ASC"
                            where-clause={whereClausereprocess}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            header="Add Properties" norecord-message="No Records Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction}>
                        </c-oktcgenericpaginator>
                    </div>
                    <div if:false={loadTable} class="paginator-container">
                        <h4 class="slds-align_absolute-center">There are no records to display.</h4>
                    </div>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </c-oklc-left-navigation>
</template>