<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{heading}</h2>
            </header>
            <div class="slds-modal__content modal__content-height slds-p-around_medium modal-body"
                id="modal-content-id-1">
                    <span class="">Do you want to add person record on behalf of that person?</span>
            </div>
            <footer class="slds-modal__footer">
                <lightning-button  label="Yes" variant="brand" onclick={addMember}
                style="margin-right: 10px;"></lightning-button>
                <lightning-button label="No" variant="neutral" onclick={handleCloseModal}>
                </lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </template>
</template>