<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-okvriu-left-navigation selected-tab="dashboard">
        <div slot="body" class="responsive-body">
            <c-okvriu-dashboard></c-okvriu-dashboard>
        </div>
    </c-okvriu-left-navigation>     
</template>