<template>
    <div class="main-container slds-p-around_medium app-content">
        <div class="card-heading">
            <h1>Create Appointment Slots</h1>
            <div class="legend">
                <span class="legend-color-green">&nbsp;</span>
                <p>Available</p>
                <span class="legend-color-blue">&nbsp;</span>
                <p>Selected</p>
            </div>
        </div>
        <lightning-tabset>
            <template if:true={isAntiBody}>
                <lightning-tab label="Antibody Testing" if:false={isMobile}>
                    <div style="height:65vh; overflow:auto;">
                        <div class="slot-input">
                            <lightning-layout multiple-rows vertical-align="center">
                                <lightning-layout-item padding="around-small" class="slot-picker">
                                    <lightning-input type="number" required name="numSlot"
                                        label="Number of Available Appointment Slots (Per 30 min)" min="0" max="100"
                                        value={numOfSlot} onchange={handleSlotChange}></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                        <template if:true={accountId}>
                            <c-oktc-calendar testingtype="Antibody Testing" accountid={accountId} start-time={startTime} end-time={endTime}>
                            </c-oktc-calendar>
                        </template>
                    </div>
                    <div class="slds-p-top_small">
                        <lightning-button if:true={accountId} label="Save" variant="brand" onclick={createSlots}>
                        </lightning-button>
                    </div>
                </lightning-tab>
            </template>
            <template if:true={isPcr}>
                <lightning-tab label="PCR Testing" if:false={isMobile}>
                    <div style="height:65vh; overflow:auto;">
                        <div class="slot-input">
                            <lightning-layout multiple-rows vertical-align="center">
                                <lightning-layout-item padding="around-small" class="slot-picker">
                                    <lightning-input type="number" required name="numSlot"
                                        label="Number of Available Appointment Slots (Per 30 min)" min="0" max="100"
                                        value={numOfSlot} onchange={handleSlotChange}></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                        <template if:true={accountId}>
                            <c-oktc-pcr-calendar accountid={accountId} start-time={startTime} end-time={endTime}>
                            </c-oktc-pcr-calendar>
                        </template>
                    </div>
                    <div class="slds-p-top_small">
                        <lightning-button if:true={accountId} label="Save" variant="brand" onclick={createSlotsPcr}>
                        </lightning-button>
                    </div>
                </lightning-tab>
            </template>
            <template if:true={isRapid}>
                <lightning-tab label="Rapid Testing" if:false={isMobile}>
                    <div style="height:65vh; overflow:auto;">
                        <div class="slot-input">
                            <lightning-layout multiple-rows vertical-align="center">
                                <lightning-layout-item padding="around-small" class="slot-picker">
                                    <lightning-input type="number" required name="numSlot"
                                        label="Number of Available Appointment Slots (Per 30 min)" min="0" max="100"
                                        value={numOfSlot} onchange={handleSlotChange}></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                        <template if:true={accountId}>
                            <c-oktc-rapid-calendar accountid={accountId} start-time={startTime} end-time={endTime}>
                            </c-oktc-rapid-calendar>
                        </template>
                    </div>
                    <div class="slds-p-top_small">
                        <lightning-button if:true={accountId} label="Save" variant="brand" onclick={createSlotsRapid}>
                        </lightning-button>
                    </div>
                </lightning-tab>
            </template>
        </lightning-tabset>
    </div>
    <div if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>
</template>