.card-heading {
    background: rgba(0, 38, 60, 0.09);
    padding: 1.5rem 1.5rem;
    margin: -1.5rem;
    margin-bottom: 0;
    font-size: 1.5rem;
    position: relative;
}

.legend {
    display: inline-flex;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .legend {
        text-align: right;
        right: 0%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.legend-color-green {
    background: #A7D676;
    width: 20px;
    height: 20px;
    margin: 0rem .5rem;
}

.legend-color-blue {
    background: #a8dee0;
    width: 20px;
    height: 20px;
    margin: 0rem .5rem;
}
.slot-picker {
    width: 250px;
}