<template>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="main-container slds-p-around_medium app-content">
        <div class="card-heading">
            <h1>Upload File</h1>
        </div>
        <div class="page-header">
            <p class="instruction-heading"><strong>Instruction of Uploading documents</strong></p>
            <div class="instruction-text">
                Please make sure to use the same CSV file for uploading here that has been downloaded earlier for
                updating Sample Results.
            </div>
            <ul class="instruction-list">
                <li>Please make sure to fill out the results information under last two columns of the downloaded CSV in
                    the below mentioned format.
                </li>
                <li>Result column should be updated with Positive, Negative or Rejected status.</li>
                <li>Lab Test Completion Date should be updated with MM-DD-YYYY format</li>
            </ul>
        </div>

        <div class="card-content">
            <lightning-input variant="label-hidden" name="file uploader" onchange={handleFileChange} type="file" multiple
                class="upload-btn">
            </lightning-input>
            <div class="filename" if:true={showFileName}>File: <strong>{fileName}</strong> has been added successfully.
                <lightning-icon icon-name="utility:delete" alternative-text="Error!" variant="error"
                    title="error variant small" size="small" class="fileremove" onclick={handleFileDelete}></lightning-icon>
            </div>
            <div>
                <lightning-button label="Save" onclick={handleSave} variant="brand"></lightning-button>
            </div>
        </div>
    </div>
</template>