<template>
        <!-- Spinner component -->
        <div if:true={showSpinner}>
            <div class="backdrop">
                <div class="spinner">
                    <lightning-spinner alternative-text="Loading..."></lightning-spinner>
                </div>
            </div>
        </div>
        <c-oklc-left-navigation selected-tab="uploadResult">
            <div slot="body">
                <c-oklc-upload-fileto-create-antibody></c-oklc-upload-fileto-create-antibody>
            </div>
        </c-oklc-left-navigation>        
    </template>