<template>
    <!-- <template if:true={showError}>
        <div class="error">{errorMessage}</div>
    </template>
    <template if:true={showSuccess}>
        <div class="success">{errorMessage}</div>
    </template> -->
    <div class="row form-section p-b-md">
        <div class="col-sm-6">
            <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>First Name</label>
            <div class="slds-form-element__control">
                <input type="text" name="firstName" placeholder="Enter First Name"
                    required="" value={firstName} class="slds-input"
                    onchange={handleChange} />
            </div>
        </div>

        <div class="col-sm-6">
            <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Last Name</label>
            <div class="slds-form-element__control">
                <input type="text" name="lastname" placeholder="Enter Last Name" required=""
                    value={lastName} class="slds-input" onchange={handleChange} />
            </div>
        </div>

        <div class="col-sm-6">
            <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Email Address</label>
            <div class="slds-form-element__control">
                <input type="email" name='email' placeholder="Enter Email" required=""
                    class="slds-input" value={email} onchange={handleChange} />
            </div>
        </div>

        <div class="col-sm-6">
            <div class="slds-form-element__control">
                <label class="slds-form-element__label" for="text-input-id-1">
                    <template if:true={phoneRequired}> <abbr class="slds-required" title="required">* </abbr></template>
                        Mobile Number</label>
                <lightning-input type="tel" label="Select Account"
                variant="label-hidden"
                class="label-hidden"
                    placeholder="Enter Mobile Number" name="phone" onchange={handleChange}
                    value='{phone}' onkeyup={phoneChange} onblur={handleInputChange}
                    maxlength="10">
                </lightning-input>
            </div>
        </div>      

        <div class="col-sm-4">
            <div class="slds-form-element__control">
                <lightning-input message-when-bad-input = "Your entry does not match the allowed format mm/dd/yyyy." max={todayDate} type="date" date-style="short" name="dob" style="min-width: 230px" label="Birthdate" onchange={handleChange} value={dob} required>
                </lightning-input>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="slds-form-element__label" for="text-input-id-1"> <abbr class="slds-required" title="required">* </abbr>Gender</label>
                <div class="slds-form-element__control">
                    <lightning-combobox class="combo-box" name="gender" variant="label-hidden" value={gender}
                    placeholder="Select Gender" options={genderOptions} onchange={handleChange} required></lightning-combobox>
                </div>
        </div>

        <div class="col-sm-4">
            <label class="slds-form-element__label" for="text-input-id-1"> <abbr class="slds-required" title="required">* </abbr>Race</label>
                <div class="slds-form-element__control">
                    <lightning-combobox class="combo-box" name="race" variant="label-hidden" value={race}
                    placeholder="Select Race" options={raceOptions} onchange={handleChange} required></lightning-combobox>
                </div>
        </div>
        <div class="col-sm-12 slds-p-top_small">
            <div class="slds-form-element__control">
                <lightning-input data-field="scheduled" name="scheduled" id="scheduled"
                    type="checkbox" label="Appointment Scheduled" disabled=true value={scheduled} checked
                    onchange={handleChange}></lightning-input>
            </div>
        </div>
        <div class="col-sm-12 slds-p-top_small">
            <div class="slds-form-element__control">
                <lightning-input data-field="email" name="emailOpt" id="emailOpt"
                    type="checkbox" label="Receive communication via Email" value={emailOpt} checked
                    onchange={handleChange}></lightning-input>
            </div>
        </div>
        <div class="col-sm-12 slds-p-top_small">
            <div class="slds-form-element__control">
                <lightning-input data-field="sms" name="smsOpt" id="smsOpt" type="checkbox"
                    label="Receive communication via SMS" value={smsOpt} class="slds-form-element__label"
                    onchange={handleChange}></lightning-input>
            </div>
        </div>

    </div>
</template>