<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" name="close"
                    title="Close" onclick={handleClick}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add Appointments</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" style="overflow:initial">
                <p>Choose the person you would like to make an appointment for. If you don't see that person listed, you
                    can add them using the "Schedule Another Person" button.</p>
                <div class="slds-m-top_medium slds-align_absolute-center">
                    <lightning-combobox name="progress" label="Status" value={value} placeholder="Select Progress"
                        options={options} onchange={handleChange} required variant="label-hidden"></lightning-combobox>
                </div>
            </div>
            <footer class="slds-modal__footer slds-modal__footer_directional">
                <button class="slds-button slds-button_neutral" name="cancel" onclick={handleClick}>Cancel</button>
                <button class="slds-button slds-button_brand" name="submit" onclick={handleClick}>Submit</button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>