<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oktc-left-navigation selected-tab="downloads">
        <div slot="body">
            <lightning-tabset>
                <template if:true={isAntiBody}>
                <lightning-tab label="Batch Download">

                    <!-- <div class = "combo-box">
                    <lightning-combobox name="progress" variant="label-hidden" value={batchId} placeholder="Select Batch"
                    options={batchoptions} onchange={handleChange} ></lightning-combobox>
                    </div> -->
                    <div class="heading-container" if:true={loadTable}>
                        <div class="button-container">
                            <lightning-combobox class="combo-box" name="progress" variant="label-hidden" value={batchId}
                                placeholder="Select Batch" options={batchoptions} onchange={handleChange}>
                            </lightning-combobox>
                        </div>
                        <div class="button-container" style="width: 100%">
                            <lightning-button class="slds-float_right table-button-class" label="Download"
                                icon-name="utility:download" title="download" onclick={getAntibodyListForBatch} variant="brand">
                            </lightning-button>
                        </div>
                    </div>
                    <div class="paginator-container" if:true={labId}>
                        <!-- <template if:true={loadTable}> -->
                    <c-oktcgenericpaginator object-name="Antibody_Testing__c" numberofcolumns="5" columns={columns}
                            placeholder="Search Record..." sort-by="Antibody_Testing_Number__c" sort-dir="ASC"
                            where-clause={whereClause}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            header="Add Properties" norecord-message="No Records Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction}>
                        </c-oktcgenericpaginator> 
                        <!-- </template> -->
                    </div>
                    <div class="paginator-container" if:false={loadTable}>
                        <h4 class="slds-align_absolute-center">There are no records to display.</h4>
                    </div>
                </lightning-tab>
            </template>
                <lightning-tab label="Appointments Download">
                    <div class="heading-container">
                        <div class="button-container">
                            <lightning-input type="date" name="fromDate" style="min-width: 230px" max={todaysDate}
                                label="From Date - appointment scheduled start date" onchange={handleInputChange} required value={fromDate}>
                            </lightning-input>
                            <lightning-input type="date" name="toDate" style="min-width: 230px" 
                                label="To Date - appointment scheduled end date" onchange={handleInputChange} required value={toDate} min={fromDate}>
                            </lightning-input>
                        </div>
                        <div class="button-container" style="width: 50%">
                            <lightning-combobox  label="Testing Type" class="combo-box" name="testingType" value={testingTypeValue}
                                placeholder="Select Testing Type" options={testingTypeOptions} onchange={handleInputChange} required>
                            </lightning-combobox>
                        </div>
                        <div class="button-container" style="width: 100%">
                            <lightning-button class="slds-float_right table-button-class" label="Download"
                                icon-name="utility:download" title="download" onclick={getAntibodyList} variant="brand">
                            </lightning-button>
                        </div>
                    </div>
                    <div if:true={loadTable}>
                   <c-oktcgenericpaginator object-name="Antibody_Testing__c" numberofcolumns="7" columns={columns2}
                            placeholder="Search Record..." sort-by="Antibody_Testing_Number__c" sort-dir="ASC"
                            where-clause={whereClausepositive}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                            header="Add Properties" norecord-message="No Records Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction}>
                        </c-oktcgenericpaginator>  
                    </div>
                    <div if:false={loadTable} class="paginator-container">
                        <h4 class="slds-align_absolute-center">There are no records to display.</h4>
                    </div>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </c-oktc-left-navigation>
</template>