<template>
    <div>
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                    <div id="box" class={boxClass} aria-expanded="true" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                            role="none">
                            <!-- <template if:true={isValue}>
                                <div id="lookup-pill" class="slds-pill-container">
                                    <lightning-pill class="slds-container_fluid pillSize" label={valueObj} name={valueObj} onremove={handleRemovePill} href={href}>
                                        <lightning-icon icon-name={iconName} alternative-text="acc" ></lightning-icon>
                                    </lightning-pill>
                                </div>
                            </template> -->
                            <!-- after the record is selected -->

                            <template if:true={isValue}>
                                <div class="slds-combobox__form-element slds-input-has-icon 
                                                slds-input-has-icon_left-right" role="none">
                                    <span class="slds-icon_container
                                                    slds-icon-standard-account 
                                                    slds-combobox__input-entity-icon" title="Account">
                                        <lightning-icon icon-name='standard:contact'></lightning-icon>
                                    </span>
                                    <input class="slds-input slds-combobox__input
                                               slds-combobox__input-value" id="combobox-id-5"
                                        aria-controls="listbox-id-5" autocomplete="off" role="textbox" type="text"
                                        placeholder="Select an Option" readonly="" value={selectedRecord.name}
                                        disabled />
                                 <template if:false={showRemoveButton}>
                                    <button class="sicon_container slds-button slds-button_icon 
                                                       slds-input__icon slds-input__icon_right"
                                        title="Remove selected option" onclick={handleRemovePill}>
                                        <lightning-icon icon-name="utility:close" size="x-small">

                                        </lightning-icon>
                                        <span class="slds-assistive-text">Remove selected option</span>
                                    </button>
                                 </template>
                                </div>

                            </template>


                            <!---->
                            <template if:false={isValue}>
                                <div class="slds-p-top_none">
                                    <lightning-input class={inputClass} type="search" id="input" value={searchTerm}
                                        onclick={handleClick} onblur={inblur} onchange={onChange} variant="label-hidden"
                                        autocomplete="off" placeholder="Search...">
                                    </lightning-input>
                                </div>
                            </template>
                        </div>
                        <div id="listbox-id-1"
                            class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <template for:each={options} for:item="item" for:index="index">

                                    <!-- <li key={item.activityLabel} onclick={onSelect} data-number={index} role="presentation">
                                        <span class="slds-lookup__item-action slds-lookup__item-action--label" role="option">
                                            <lightning-icon class="slds-icon slds-icon--small slds-icon-text-default" icon-name={iconName} size="small"></lightning-icon>
                                            <span class="slds-truncate">{item.activityLabel}</span>
                                           <p>fnjkdgy</p>
                                        </span>
                                        <template if:true={isSubContractorUser}>
                                            <p class="slds-form-element__label slds-truncate">{item.subContractor}</p>
                                        </template>
                                    </li> -->



                                    <li key={item.id} onclick={onSelect} data-number={index} role="presentation"
                                        class="slds-listbox__item">
                                        <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                            role="option">
                                            <span class="slds-media__figure slds-listbox__option-icon">
                                                <lightning-icon
                                                    class="slds-icon slds-icon--small slds-icon-text-default"
                                                    icon-name='standard:contact' size="small"></lightning-icon>
                                            </span>
                                            <span class="slds-media__body">
                                                <span
                                                    class="slds-listbox__option-text slds-listbox__option-text_entity">{item.name}</span>

                                            </span>
                                        </div>
                                    </li>
                                </template>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>