<template>
  <div class="app-content center-align-card">
    <div class="backdrop" if:true={showSpinner}>
      <div class="spinner">
          <lightning-spinner alternative-text="Loading..."></lightning-spinner>
      </div>
  </div>
    <lightning-layout multiple-rows="true">
      <lightning-layout-item size="12" large-device-size="6">
        <div class="card-photo-cred">
          <lightning-layout multiple-rows="true">
            <lightning-layout-item size="12">
              <img class="login-photo" src={customImage} />
            </lightning-layout-item>
            <lightning-layout-item size="12" class="slds-p-top_large">
              <h1 class="slds-text-align_center slds-text-heading_medium">{portalName}</h1>
            </lightning-layout-item>
          </lightning-layout>
        </div>
      </lightning-layout-item>

      <lightning-layout-item size="12" large-device-size="6">
        <div class="card-right-content">
          <template if:false={showThankYou}>
            <div class="card-header">
              <div class="intro">Contact Information</div>
              <h1>Enter your information below</h1>

              <div class="slds-form-element slds-p-bottom_medium">
                <template if:true={showError}>
                  <div class="error">{errorMessage}</div>
                </template>
                <template if:true={showSuccess}>
                  <div class="success">{errorMessage}</div>
                </template>
                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>First Name</label>
                <div class="slds-form-element__control">
                  <input type="text" name="FirstName" placeholder="Enter First Name" required="" value={firstName}
                    class="slds-input" onchange={firstNameChange} />
                </div>
              </div>
              <div class="slds-form-element slds-p-bottom_medium">

                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Last Name</label>
                <div class="slds-form-element__control">
                  <input type="text" name="lastname" placeholder="Enter Last Name" required="" value={lastName}
                    class="slds-input" onchange={lastNameChange} />
                </div>
              </div>
              <div class="slds-form-element slds-p-bottom_medium">
                <div class="slds-form-element__control">
                  <lightning-input type="tel" label="Mobile Number" placeholder="Enter Mobile Number" name="phone"
                    onchange={phoneChange} value='{phone}' onkeyup={phoneChange} onblur={handleInputChange}
                    maxlength="10">
                  </lightning-input>
                </div>
              </div>
              <div class="slds-form-element slds-p-bottom_medium">
                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr title="required"> </abbr>Email Address</label>
                <div class="slds-form-element__control">
                  <input type="email" name='email' placeholder="Enter Email" required="" class="slds-input"
                    value={email} onchange={emailChange} />
                </div>
              </div>
              <div class="slds-float_right">

              </div>
              
            
              
              <lightning-button label="Submit" title="Neutral action"  onclick={doRegisteration}
                class="okpc-registration-button"></lightning-button>

                <div if:true={showCaptcha}>
                  <!--  <iframe src={_url} id="recaptchaIframe"
                    ></iframe> -->
                    <iframe class="recaptcha" src={navigateTo} id="captchaFrame" onload={captchaLoaded}></iframe>
                    </div>
            </div>

          </template>
          <template if:true={showThankYou}>
            <div class="success">{thankYouMessage}</div>
          </template>
          <!--<div class="note error-box">
                                            <div><strong>Error:</strong><br> Type your error message over here.</div>
                                          </div>-->
        </div>
      </lightning-layout-item>
    </lightning-layout>
  </div>
</template>