<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="slds-form form-section">
        <!-- Group 1 -->
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="prescriptionMed"
                    label="Do you take prescription medications daily? " options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.prescriptionMed} required>
                </lightning-radio-group>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item horizontal-radio">
                <lightning-radio-group name="medsInlastThreedays"
                    label="Have you taken medication for fever in the past three days?" options={onlyYesNoOptions}
                    type="radio" onchange={handleInputChange} value={dataObj.medsInlastThreedays} required>
                </lightning-radio-group>
            </div>
        </div>
      
    </div>

</template>